<div class="technique-cell" 
     [ngStyle]="getTechniqueBackground()" 
     [ngClass]="getClass()"
     (mouseenter)="onHighlight()"
     (mouseleave)="onUnhighlight()">
    <div (click)="onLeftClick($event)" (contextmenu)="onRightClick($event)">
        <span [style.border-color]="configService.comment_color"
              [style.color]="getTechniqueTextColor()">
            {{ [technique.name, viewModel.acronym(technique.name), ''][viewModel.viewMode] }}
            <!-- <sub>{{technique.subtechniques.length}}</sub> -->
        </span>
    </div>
    <app-tooltip *ngIf="showTooltip"  [technique]="technique" [tactic]="tactic" [viewModel]="viewModel"></app-tooltip>
    <app-contextmenu *ngIf="showContextmenu" [technique]="technique" [tactic]="tactic" [viewModel]="viewModel" (close)="showContextmenu = false"></app-contextmenu>
</div>
