@import "../../colors.scss";

.tabs-container {
    display: flex;
    .mat-ink-bar {
        display: none;
    }
    .mat-tab-nav-bar, .mat-tab-header {
        border-bottom: none !important;
    }
    .tabs .tab-title.active {
        opacity: 1 !important;
    }
}

.tabs {
    .tab-title { //non-datatable tab names
        font-size: 14px;
        text-decoration: none;
        color: black !important;
        display: flex;
        justify-content: space-around;
        border-right: #ddd 1px solid;

        &:hover, &:focus { //when the mouse is over a non-selected tab
            &:not(.active) {
                text-decoration: none;

                &:not(.addTab) { //add tab should not behave like other tabs
                    border-color: $panel-dark $panel-dark $panel-light $panel-dark; //black border bottom when hovered
                    background-color: $panel-light;
                }
            }
        }


        //tab number that shows up when tab is highlighted
        .tabEnumerator {
            position: absolute;
            top: 2px;
            right: 7px;
            padding: 2px 4px;
            background: rgb(255, 255, 0);
            border-radius: 5px;
        }

        &.active {
            color: $tab-text-color; //text color
            cursor: default; //cursor behavior
            background-color: $panel-dark;
            border: 1px solid transparent; //override border highlighting on hover
        }
    }

    .addTab {
        min-width: fit-content;
        &:hover {
            border-color: #ddd #ddd #f1f1f1 #ddd;
            background-color: #f1f1f1
        }
    }

    &:before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        clear: both;
        content: " ";
    }
    svg {
        width: 17px;
        transition: all ease-in-out 0.2s;
    }
    svg:hover {
        transform: scale(1.2);
    }
}

// close tab button
.tab-close {
    margin-left: 10px;
    color: gray;
    text-align: right;
    cursor: pointer;
    &:hover {
        color: black
    }
}

.newTab {
    height: 90%;
    display: block;
    overflow-y: scroll;
    box-sizing: border-box;
    position: absolute;
    // text-align: center;
    padding: 5% 20%;
    .description {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }
    .description div p {
        max-width: 75ch;
        font-size: 1.2em;
    }
    .logo {
        text-align: center;
        a {
            text-decoration: none;
            color: rgb(176, 26, 26);
            font-weight:500;
        }
        font-size: 1em;
    }
}

.border {
    border: 1px solid $panel-dark;
}

.layerOpTable {
    td {
        padding: 5px;
        &.disabled {
            color: gray;
        }
    }
    .tab-enumerator {
        padding: 2px 4px;
        background: rgb(255, 255, 0);
        border-radius: 5px;
    }
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

input[type=file]{
    padding: 5px;
    margin: 5px;
    width: 300px;
    // border: 1px solid black;
    background-color: $panel-light;
    border-radius: 0px;
    &:hover {
        background-color: $panel-dark;
    }
}

//button on new tab page
.help-links-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
}

.header {
    text-align: right;
    right: 0;
    z-index: 10 !important;
    div { display: inline-block; cursor: pointer; }

    .help-button {
        position: absolute;
        top: 10px;
        right: 15px;
        text-align: center;
        width: 4ex;
        height: 3ex;
        padding: 5px;
        z-index: 10;
        &:hover svg { fill: #505050; }
    }

    .help-dropdown-open {
        border-radius: 50% 50% 0 0;
        border: solid $panel-dark 1px;
        border-bottom: solid 1px white;
        background: white;
        svg { fill: #505050; }
    }

    .dropdown-container {
        position: absolute;
        right: 16px;
        display: flex;
        justify-content: center;
        flex-flow: column;
        background: white;
        border-style: solid;
        border-color: #ddd;
        border-width: 1px 0 1px 1px;
        box-shadow: 2px 1px 1px #ddd;
        border-radius: 0 0 5px 5px;
        padding: 10px;
        top: 40px;
        z-index: 9;
        button {
            border: none;
            background-color: transparent;
            text-align: right;
            padding-bottom: 5px;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .banner {
        background-color: color(primary);
        margin-bottom: 1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        text-align: left;
        color: on-color(primary);
        font-size: 14px;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        cursor: initial;
        .bannerContent {
            padding-right: 15px;
        }
        .bannerLinks {
            display: flex;
            align-items: center;
            border-left: 2px solid #ffffffad;
            padding-left: 15px;
            cursor: initial;
        }
        .helpIcon {
            height: 18px;
            padding-left: 15px;
        }
        a {
            display: inline;
            color: on-color(primary);
            text-decoration-color: on-color(primary);
        }
        a:hover, .helpIcon:hover {
            color: $panel-dark;
            opacity: 0.8;
        }
    }
}

.btn-group {
    width: 100%;
    table-layout: fixed;
    padding: 0 24px;
    margin-bottom: 5px;

    button {
        width: 100%;
    }
}

.inputTable {
    width: 100%;
    border-collapse: collapse;
    tr {
        &.featureRow:hover {
            background: darken(white, 5%)
        }
        transition: ease 0.2s;

        width: 100%;
        // background: darken(white, 5%);
        margin-top: 5px;
        border-radius: 5px;

        td {
            text-align: left;
            width: 1%;
            padding: 5px;
            &.featureRow-button {
                img {vertical-align: middle; margin-bottom: 2px;}
            }
            &.subfeature {
                &:first-child {
                    border-left: 1px solid $panel-dark;
                }
                &.last {
                    border-bottom: 1px solid $panel-dark;
                }
            }
        }
    }
}

#layerlinkfield {
    color: rgba(0,0,0,.42);
    .mat-form-field-underline {
        background: none;
        background-image: linear-gradient(to right,rgba(0,0,0,.42) 0,rgba(0,0,0,.42) 33%,transparent 0);
        background-size: 4px 1px;
        background-repeat: repeat-x;
    }
    #layerLink {
        cursor: pointer;
    }
}
.layerLinks {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.safari-warning {
    text-align: center;
    h3 { color: red; }
}
