<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:500" rel="stylesheet">
<div *ngIf="configService.getFeature('header')" [style.margin-bottom]="configService.getFeature('tabs') ? '0px' : '15px'" class="header" >
    <div class="logo">
        <a href="http://attack.mitre.org">MITRE ATT&CK&reg; Navigator</a>
    </div>
    <div *ngIf="configService.getFeature('tabs')" class="helpButton" matTooltip="help" (click)="newHelpTab(forceNew=false)">
        ?
    </div>
</div>
<div [style.margin-top]="configService.getFeature('header') ? '0px' : '15px'" *ngIf="dynamicTabs.length > 0 && configService.getFeature('tabs')">
    <ul class="tabs">
        <!-- dynamic tabs (can be opened and closed) -->
        <li *ngFor="let tab of dynamicTabs; let $i = index" (click)="selectTab(tab)" [class.active]="tab.active">
            <!-- <input *ngIf="tab.dataContext" [disabled]="!tab.active" [style.cursor]="tab.active ? 'text' : 'pointer'" type="text" [(ngModel)]="tab.dataContext.name" [style.width]="tab.dataContext ? ((tab.dataContext.name.length) * 8.4) + 'px' : ''"> -->
            <!-- <a   *ngIf="!tab.dataContext" href="#" [style.cursor]="tab.active ? 'default' : 'pointer'">{{tab.title}}</a> -->

            <!-- <input [disabled]="!tab.active || !tab.dataContext" (click)="!tab.active || !tab.dataContext ? selectTab(tab) : selectTab(tab)" [style.cursor]="tab.active ? tab.dataContext ? 'text' : 'default' : 'pointer'" type="text" [(ngModel)]="tab.dataContext ? tab.dataContext.name : tab.title" [style.width]="tab.dataContext ? ((tab.dataContext.name.length) * 8.4) + 'px' : (tab.title.length * 8.4) + 'px' "> -->
            <!-- <input [id]="'tabtitleinput' + $i" (click)="!tab.active || !tab.dataContext ? selectTab(tab, 'tabtitleinput' + $i) : continue" [style.cursor]="tab.active ? tab.dataContext ? 'text' : 'default' : 'pointer'" type="text" [(ngModel)]="tab.dataContext ? tab.dataContext.name : tab.title" [style.width]="tab.dataContext ? ((tab.dataContext.name.length) * 8.4) + 'px' : (tab.title.length * 8.4) + 'px' "> -->

            <a *ngIf="!tab.active || !tab.isDataTable" href="#" [style.cursor]="tab.active ? 'default' : 'pointer'">{{tab.isDataTable ? tab.dataContext.name : tab.title}}</a>
            <input *ngIf="!(!tab.active || !tab.isDataTable)" [style.cursor]="tab.active ? tab.isDataTable ? 'text' : 'default' : 'pointer'" type="text" [(ngModel)]="tab.dataContext.name" [style.width]="tab.isDataTable ? ((tab.dataContext.name.length) * 8.4) + 'px' : (tab.title.length * 8.4) + 'px' ">
            <span class="tab-close" *ngIf="tab.isCloseable" (click)="closeTab(tab)">x</span>

            <span class="tabEnumerator" *ngIf="getActiveTab().showScoreVariables && tab.isDataTable && (!domain || tab.domain === domain) && alphabetical(indexToChar($i))">{{indexToChar($i)}}</span>
        </li>
        <!-- open new tab button -->
        <!-- <li (click)="openTab('new tab', blankTab, null, true, false, true)"> -->
        <li *ngIf="dynamicTabs.length < 10" class="addTab" (click)="newBlankTab()">
            +
        </li>
    </ul>
</div>
<div *ngIf="dynamicTabs.length == 0" class="newTab">
    <!-- you shouldn't ever see this, but just in case -->
    <button (click)="newBlankTab()">Start</button>
</div>


<div [style.margin-top]="configService.getFeature('tabs') || configService.getFeature('header') ? '0px' : '15px'">
    <ng-content></ng-content>
</div>

<ng-template dynamic-tabs #container></ng-template>


<ng-template #blankTab>
    <!-- <div style="background-color: #ddd; height: 3px;">
    </div> -->
    <div class="newTab border">
        <mat-accordion class="headers-align">
            <mat-expansion-panel #newlayer>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Create New Layer
                    </mat-panel-title>
                    <mat-panel-description>
                        Create a new empty layer
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table class="btn-group" role="group">                        
                    <ng-template ngFor let-domain [ngForOf]="filterDomains(ds.versions[0])" let-domainIndex="index">
                        <td><button mat-raised-button (click)="newLayer(domain.id)">{{domain.name}}</button></td>
                    </ng-template>
                </table>

                <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                More Options
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                    <table class="layerOpTable">
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="version" [(ngModel)]="nVersion" required>
                                        <mat-option [value]="null">none</mat-option>
                                        <mat-option *ngFor="let nVersion of this.dataService.versions" [value]="nVersion">{{nVersion}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td>
                                Choose the version for the new layer. <em>*Versions prior to {{ds.versions[ds.versions.length-1]}} are not supported by Navigator v{{nav_version}}.</em>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mat-form-field>
                                    <mat-select placeholder="domain" [(ngModel)]="nDomain" [disabled]="!nVersion" required>
                                        <mat-option [value]="null">none</mat-option>
                                        <mat-option *ngFor="let nDomain of filterDomains(nVersion)" [value]=nDomain>{{nDomain.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td [ngClass]="{disabled: !nVersion}">
                                Choose a domain for the new layer.
                            </td>
                        </tr>
                    </table>

                    <button mat-button [disabled]="!nVersion || !nDomain" (click)="newLayer(nDomain.id)">Create</button>
                </mat-expansion-panel>
            </mat-expansion-panel>

            <!-- <mat-expansion-panel #uploadlayer hideToggle="true" (click)="openUploadPrompt(); uploadlayer.close()">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Upload Existing Layer
                    </mat-panel-title>
                    <mat-panel-description>
                        Upload a layer from your computer
                    </mat-panel-description>

                </mat-expansion-panel-header>
                <input id="uploader" type="file" style="display: none" (change)="loadLayer()"/>
                <!-- this content will never be shown because clicking opens a new layer tab -->
            <!--</mat-expansion-panel> -->

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Open Existing Layer
                    </mat-panel-title>
                    <mat-panel-description>
                        Load a layer from your computer or a URL
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table class="inputTable">
                    <tr>
                        <td><button mat-button (click)="openUploadPrompt()">Upload from local</button>
                        <input id="uploader" type="file" style="display: none" (change)="loadLayerFromFile()"/></td>

                        <td><b style="font-size: 8pt">OR</b></td>
                        <td><mat-form-field>
                            <input type="text"
                                   matInput
                                   placeholder="Load from URL"
                                   [(ngModel)]="loadURL"/>
                            <button mat-button matSuffix mat-icon-button aria-label="go" *ngIf="loadURL" (click)="loadLayerFromURL(loadURL, true)">></button>
                        </mat-form-field></td>
                    </tr>
                </table>



            </mat-expansion-panel>

            <!-- <mat-expansion-panel [disabled]="viewModelsService.viewModels.length < 2"> -->
            <mat-expansion-panel (opened)="getActiveTab().showScoreVariables = true" (closed)="getActiveTab().showScoreVariables = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Create Layer from other layers
                    </mat-panel-title>
                    <mat-panel-description>
                        Choose layers to inherit properties from
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table class="layerOpTable">
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="domain" [(ngModel)]="domain" required>
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let domain of this.dataService.domains" [value]=domain.id>{{domain.name}} {{domain.version}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            Choose the domain and version for the new layer. Only layers of the same domain and version can be merged.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <input type="text"
                                       matInput
                                       placeholder="score expression"
                                       [disabled]="!domain"
                                       [(ngModel)]="scoreExpression"
                                       (keyup)="scoreExpression = scoreExpression.toLowerCase()"
                                       style="letter-spacing: 2px" />
                                <mat-hint style="color: red" align="start">{{getScoreExpressionError()}}</mat-hint>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Use constants (numbers) and layer variables (yellow, above) to write an expression for the initial value of scores in the new layer. A full list of supported operations can be found <a href="http://mathjs.org/docs/expressions/syntax.html#operators">here</a>. Leave blank to initialize scores to 0.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="gradient" [(ngModel)]="gradient" [disabled]="!domain">
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let vm of getLayers()" [value]=vm>{{vm.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Choose which layer to import the scoring gradient from. Leave blank to initialize with the default scoring gradient.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="coloring" [(ngModel)]="coloring" [disabled]="!domain">
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let vm of getLayers()" [value]=vm>{{vm.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Choose which layer to import manually assigned colors from. Leave blank to initialize with no colors.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="comments" [(ngModel)]="comments" [disabled]="!domain">
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let vm of getLayers()" [value]=vm>{{vm.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Choose which layer to import comments from. Leave blank to initialize with no comments.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="states" [(ngModel)]="enabledness" [disabled]="!domain">
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let vm of getLayers()" [value]=vm>{{vm.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Choose which layer to import enabled/disabled states from. Leave blank to initialize all to enabled.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="filters" [(ngModel)]="filters" [disabled]="!domain">
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let vm of getLayers()" [value]=vm>{{vm.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Choose which layer to import filters from. Leave blank to initialize with no filters.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field>
                                <mat-select placeholder="legend" [(ngModel)]="legendItems" [disabled]="!domain">
                                    <mat-option [value]="null">none</mat-option>
                                    <mat-option *ngFor="let vm of getLayers()" [value]=vm>{{vm.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td [ngClass]="{disabled: !domain}">
                            Choose which layer to import the legend from. Leave blank to initialize with an empty legend.
                        </td>
                    </tr>
                </table>

                <button mat-button [disabled]="getScoreExpressionError() || !domain" (click)="layerByOperation(); showScoreVariables = false">Create</button>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Create Customized Navigator
                    </mat-panel-title>
                    <mat-panel-description>
                        Create a hyperlink to a customized ATT&CK Navigator
                    </mat-panel-description>
                </mat-expansion-panel-header>


                <table class="inputTable">
                    <tr>
                        <td><h1>Default Layers</h1></td>
                        <td></td>
                    </tr>
                    <tr class="custom_nav_inputsection">
                        <td>
                            <ul class="layerLinks">
                                <li *ngFor="let layerLinkURL of layerLinkURLs; let i = index trackBy:trackByFunction">
                                    <mat-form-field>
                                        <input type="text" matInput
                                            [placeholder]="'default layer URL ' + (i + 1)" [(ngModel)]="layerLinkURLs[i]"/>
                                        <button mat-button matSuffix mat-icon-button aria-label="remove" (click)="removeLayerLink(i)">
                                            x
                                        </button>
                                    </mat-form-field>
                                </li>
                                <li>
                                    <button mat-button (click)="addLayerLink()">
                                        add {{layerLinkURLs.length > 0? "another" : "a"}} layer link
                                    </button>
                                </li>
                            </ul>
                        </td>
                        <td>Enter the URLs of layers hosted on the web. The custom navigator will open these layers by default.</td>
                    </tr>
                    <tr>
                        <td><h1>Navigator Features</h1></td>
                        <td></td>
                    </tr>
                    <ng-template ngFor let-featureItem [ngForOf]="customizedConfig" let-featureItemIndex="index">
                        <tr class="featureRow noselect" *ngIf="!featureItem.subfeatures"  (click)="featureItem.enabled = !featureItem.enabled">
                            <td class="featureRow-button">
                                <img height="16px" [src]="featureItem.enabled ? 'assets/icons/ic_check_box_black_24px.svg' : 'assets/icons/ic_check_box_outline_blank_black_24px.svg'"/> {{featureItem.name.split("_").join(" ")}}
                            </td>
                            <td>{{featureItem.description}}</td>

                        </tr>
                        <tr *ngIf="featureItem.subfeatures">
                            <td>
                                <h2>{{featureItem.name.split("_").join(" ")}}</h2>
                            </td>
                            <td></td>
                        </tr>
                        <ng-template ngFor let-subfeature [ngForOf]="featureItem.subfeatures" let-subfeatureIndex="index" let-last="last">
                            <tr class="featureRow noselect" (click)="subfeature.enabled = !subfeature.enabled">
                                <td class="featureRow-button subfeature" [class.last]="last" style="padding-left: 20px" >
                                    <img height="16px" [src]="subfeature.enabled ? 'assets/icons/ic_check_box_black_24px.svg' : 'assets/icons/ic_check_box_outline_blank_black_24px.svg'"/> {{subfeature.name.split("_").join(" ")}}
                                </td>
                                <td class="subfeature" [class.last]="last">{{subfeature.description}}</td>
                            </tr>
                        </ng-template>
                    </ng-template>
                </table>
                <div style="text-align: center; margin-top: 20px">
                    <mat-form-field id="layerlinkfield">
                        <input id="layerLink" type="text"
                        matInput
                        readonly="readonly"
                        (click)="selectLayerLink()"
                        [value]="getLayerLink()"
                        placeholder="custom navigator URL"/>
                        <button (click)="copyLayerLink()" mat-button matSuffix mat-icon-button aria-label="copy"><img src="assets/icons/ic_content_copy_black_24px.svg" width="14px" alt="copy" matTooltip="copy" matTooltipPosition="right"></button>
                        <mat-hint *ngIf="copiedRecently">copied</mat-hint>
                    </mat-form-field>
                </div>



            </mat-expansion-panel>
        </mat-accordion>

        <div class="helpButtonContainer">
            <button mat-button (click)="newHelpTab(replace=false, forceNew=false)">help</button>
        </div>

    </div>

</ng-template>

<ng-template #layerTab let-data="data" let-active="active">
    <DataTable *ngIf="active" [viewModel]=data></DataTable>
</ng-template>

<ng-template #helpTab>
    <div class="border help">
        <help></help>
    </div>

</ng-template>

<ng-template #exporterTab let-data="data">
    <div class="border">
        <exporter [viewModel]=data></exporter>
    </div>
</ng-template>
