<div class="multiselect">
    <div *ngFor="let stixType of stixTypes" class="stixType">
        <h1>
            {{stixType.label}}
        </h1>
        <div *ngIf="stixType.objects.length !== 0" class="objects">
            <table>
                <tr *ngFor="let stixObject of stixType.objects">
                    <td>{{stixObject.name}}</td>
                    <td><a href="{{stixObject.url}}" target="_blank">view</a></td>
                    <td><button class="button" (click)="select(stixObject)">select</button></td>
                    <td><button class="button" (click)="deselect(stixObject)">deselect</button></td>
                </tr>
            </table>
        </div>
        <div *ngIf="stixType.objects.length == 0">
            Data does not include {{stixType.label}}
        </div>
    </div>
</div>
