<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="layer-upgrade">
    <mat-card>
        <mat-card-content>
            <!-- title -->
            <span class="title">
                <h2>Layer Upgrade</h2>
                ({{compareTo.version}} <mat-icon inline="true">east</mat-icon> {{viewModel.version}})
            </span>
            <!-- filter -->
            <div>
                <input id="filter" class="checkbox-custom" type="checkbox" [(ngModel)]="showAnnotatedOnly">
                <label for="filter" class="checkbox-custom-label noselect">show annotated techniques only</label>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <!-- changelog -->
    <div class="changelog">
        <mat-accordion class="headers-align">
        <mat-expansion-panel *ngFor="let section of sections" [disabled]="!sectionLength(section)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>{{getHeader(section)}}</h4>
                </mat-panel-title>
                <mat-panel-description>
                    ({{sectionLength(section)}}/{{changelog[section].length}} techniques)
                </mat-panel-description>
            </mat-expansion-panel-header>

            <ng-template matExpansionPanelContent> <!-- changelog lazy render -->
        
            <!-- review/un-review all objects in section -->
            <div class="review-buttons">
                <button mat-stroked-button (click)="reviewAll(section)" [disabled]="allReviewed(section)">Mark all as reviewed</button>
                <button mat-stroked-button (click)="unreviewAll(section)" [disabled]="!anyReviewed(section)">Mark all as un-reviewed</button>
            </div>

            <mat-divider></mat-divider>

            <!-- techniques -->
            <ng-container *ngFor="let attackID of changelog[section]">
                <mat-expansion-panel *ngIf="!showAnnotatedOnly || anyAnnotated(attackID)" #panel="matExpansionPanel">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="cols">
                                <div class="float">
                                    <mat-icon *ngIf="isReviewed(attackID)" class="reviewed">check_circle_outline</mat-icon>
                                    <mat-icon *ngIf="!isReviewed(attackID)" class="disabled">radio_button_unchecked</mat-icon>
                                </div>
                                <div class="float"><b>{{attackID}}</b></div>
                                <div class="float">{{getTechnique(attackID, viewModel).name}}</div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ng-template matExpansionPanelContent> <!-- technique lazy render -->

                    <!-- version header -->
                    <div class="cols">
                        <div class="float wide" *ngIf="section !== 'additions'">
                            <div class="version">ATT&CK {{compareTo.version}}</div>
                            <mat-divider></mat-divider>
                        </div>
                        <div class="float arrow" *ngIf="section !== 'additions' && section !== 'deprecations'">
                            <mat-icon inline="true">east</mat-icon>
                        </div>
                        <div class="float wide" *ngIf="section !== 'deprecations'">
                            <div class="version">ATT&CK {{viewModel.version}}</div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>

                    <div class="cols" *ngIf="tacticsChanged(attackID, section)">
                        <!-- technique from old version -->
                        <div class="float wide" *ngIf="getTechnique(attackID, compareTo) as oldTechnique">
                            <div class="changelog-cells" *ngFor="let tactic of getTactics(attackID, compareTo)">
                                <div [dndDraggable]="oldTechnique.get_technique_tactic_id(tactic)">
                                    <changelog-cell
                                        [tactic]="tactic"
                                        [technique]="oldTechnique" 
                                        [viewModel]="compareTo"
                                        [isCurrentVersion]="false"
                                        [isDraggable]="true"
                                        [section]="section">
                                    </changelog-cell>
                                </div>
                            </div>
                        </div>

                        <!-- drag&drop tooltip info -->
                        <div class="float arrow">
                            <mat-icon class="info" matTooltipPosition="above" 
                                matTooltip='Drag and drop to copy annotations to the desired tactics in ATT&CK {{viewModel.version}}.'>
                                info_outline
                            </mat-icon>
                        </div>

                        <!-- technique from new version-->
                        <div class="float wide" *ngIf="getTechnique(attackID, viewModel, section) as newTechnique">
                            <div class="changelog-cells" *ngFor="let tactic of getTactics(attackID, viewModel, section)"
                                dndDropzone (dndDrop)="onDrop($event, newTechnique, tactic, section)">
                                <changelog-cell
                                    [tactic]="tactic"
                                    [technique]="newTechnique" 
                                    [viewModel]="viewModel"
                                    [isCurrentVersion]="true"
                                    [section]="section">
                                </changelog-cell>

                                <span class="clear" *ngIf="isAnnotated(newTechnique, tactic, viewModel)"
                                    matTooltipPosition="above" matTooltip="clear annotations"
                                    (click)="clearAnnotations(newTechnique, tactic)">x</span>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!tacticsChanged(attackID, section)">
                        <table class="wide">
                            <tr *ngFor="let tactic of getTactics(attackID, compareTo, section)">
                                <td *ngIf="section !== 'additions'">
                                    <!-- technique from old version -->
                                    <changelog-cell
                                        [tactic]="tactic"
                                        [technique]="getTechnique(attackID, compareTo)" 
                                        [viewModel]="compareTo"
                                        [isCurrentVersion]="false"
                                        [section]="section">
                                    </changelog-cell>
                                </td>
                                <td class="narrow button-container" *ngIf="section !== 'additions' && section !== 'deprecations'">
                                    <!-- copy annotations/revert copy -->
                                    <button class="button" matTooltipPosition="above" matTooltip="copy annotations"
                                        [disabled]="isCopied(getTechnique(attackID, compareTo), tactic) || !anyAnnotated(attackID)"
                                        (click)="onCopy(attackID, tactic)"><mat-icon inline="true">chevron_right</mat-icon></button>
                                    <button class="button" matTooltipPosition="above" matTooltip="revert copy"
                                        [disabled]="!isCopied(getTechnique(attackID, compareTo), tactic)"
                                        (click)="onRevertCopy(attackID, tactic)"><mat-icon inline="true">chevron_left</mat-icon></button>
                                </td>
                                <td *ngIf="section !== 'deprecations'">
                                    <!-- technique from new version-->
                                    <changelog-cell
                                        [tactic]="tactic"
                                        [technique]="getTechnique(attackID, viewModel, section)" 
                                        [viewModel]="viewModel"
                                        [isCurrentVersion]="true"
                                        [section]="section">
                                    </changelog-cell>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <!-- reviewed -->
                    <div class="checkbox right">
                        <input id="review_{{attackID}}" class="checkbox-custom" type="checkbox"
                            [checked]="isReviewed(attackID)" (click)="reviewedChanged(attackID, panel)">
                        <label for="review_{{attackID}}" class="checkbox-custom-label noselect">reviewed</label>
                    </div>

                    </ng-template> <!-- end technique lazy render -->

                </mat-expansion-panel>
            </ng-container>

            </ng-template> <!-- end changelog lazy render -->

        </mat-expansion-panel>
        </mat-accordion>
    </div>

    <mat-divider></mat-divider>

    <!-- done button -->
    <div class="done-button">
        <span>Updated {{updatedCount()}}/{{totalCount()}} {{showAnnotatedOnly ? 'annotated' : ''}} techniques</span>
        <button mat-raised-button (click)="openDialog()">Done</button>
    </div>
</div>

<!-- close dialog template -->
<ng-template #closeDialog>
    <div class="close-dialog">
        <b>Close layer upgrade workflow?</b>
        <p>
            {{changelog.reviewed.size}}/{{changelog.length()}} objects have been reviewed.
            You will not be able to return to the layer upgrade window.
        </p>
        <div class="dialog-buttons">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button (click)="closeDialogRef.close(true)">Close</button>
        </div>
    </div>
</ng-template>