@import "../../colors.scss";

.title {
    h2 {
        display: inline-block;
        margin: 12px 0;
    }
    .mat-icon { vertical-align: middle; }
}
h4 { margin: 12px 0; }
.mat-divider {
    margin: 1rem 0!important;
}
.changelog-cells {
    padding-bottom: 1rem;
    position: relative;
}
.clear {
    position: absolute;
    top: -10px;
    right: -5px;
    padding: 6px 6px;
    background: $panel-dark;
    border-radius: 10px;
    line-height: 10px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
    &:hover { background-color: darken($panel-dark, 5%); }
}
.mat-expansion-panel-content, .stepper-content {
    max-height: 40vh;
    overflow: auto;
}
.stepper-content {
    padding: 6px;
}
.mat-expansion-panel-header-title span {
    padding-left: 1rem;
    display: inline-flex;
    align-items: center;
}
tr:not(.version-header) td {
    padding-bottom: 1rem;
}
.narrow { width: 20px; }
.button-container .button {
    display: flex;
    align-items: center;
    margin: 4px;
    .mat-icon { font-size: 16px; }
    &:disabled {
        cursor: unset;
        background-color: lighten($panel-dark, 5%);
    }
}
.cols {
    display: flex;
    .float {
        float: left;
        padding: 6px;
    }
}
.version {
    text-align: center;
    margin-bottom: -1rem;
    a { text-decoration: none; }
}
.arrow {
    text-align: center;
    vertical-align: top;
}
.info {
    margin-top: 1.5rem;
    height: 100%;
    display: flex;

    .mat-icon {
        height: 100%;
    }
}
.wide {
    width: 100%;
}
.checkbox {
    padding: 6px;
    &.right { float: right; }
}
.checkbox-custom-label {
    display: block;
}
.stepper-button {
    float: right;
    padding-bottom: 24px;
    .mat-stroked-button { margin-left: 12px; }
}
.close-dialog {
    text-align: center;
    .dialog-buttons button {
        margin: 4px;
    }
}
.reviewed {
    color: #4BB543;
}
.review-buttons {
    display: flex;
    justify-content: space-evenly;
    .mat-stroked-button {
        margin: 0px 6px;
    }
}
.disabled {
    color: gray;
}
.dndDragover .technique-cell {
    box-shadow: 0 0 0 1px $cell-highlight-color inset !important;
}