<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="layer-upgrade">
    <mat-card>
        <mat-card-content>
            <!-- title -->
            <span class="title">
                <h2>Layer Upgrade</h2>
                ({{compareTo.version}} <mat-icon inline="true">east</mat-icon> {{viewModel.version}})
            </span>
        </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

    <mat-vertical-stepper linear>
        <mat-step *ngFor="let section of sections">
            <ng-template matStepLabel>Review {{getHeader(section)}}</ng-template>

            <div *ngIf="changelog[section].length > 0; else noObjects">
                <div *ngIf="getDescription(section) as desc" class="description">
                    <span>{{desc}}</span>
                </div>

                <mat-divider></mat-divider>

                <div *ngIf="section !== 'additions'">
                    <h4>Filters</h4>
                    <input id="annotated" class="checkbox-custom" type="checkbox" [(ngModel)]="filter[section]">
                    <label for="annotated" class="checkbox-custom-label noselect">show annotated techniques only</label>

                    <mat-divider></mat-divider>
                </div>

                <div class="review-buttons">
                    <button mat-stroked-button (click)="reviewAll(section)" [disabled]="allReviewed(section)">Mark all as reviewed</button>
                    <button mat-stroked-button (click)="unreviewAll(section)" [disabled]="!anyReviewed(section)">Mark all as un-reviewed</button>
                </div>

                <mat-divider></mat-divider>

                <div class="stepper-content">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let attackID of applyFilters(section)" #panel="matExpansionPanel">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon *ngIf="isReviewed(attackID)" class="reviewed">check_circle_outline</mat-icon>
                                    <mat-icon *ngIf="!isReviewed(attackID)" class="disabled">radio_button_unchecked</mat-icon>
                                    <span>{{attackID}}: {{getTechnique(attackID, viewModel).name}}</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <ng-template matExpansionPanelContent>

                                <div class="cols">
                                    <div class="float wide" *ngIf="section !== 'additions'">
                                        <div class="version">
                                            <a href="{{getPreservedURL(attackID)}}" target="_blank">ATT&CK {{compareTo.version}}</a>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <div class="float arrow" *ngIf="section !== 'additions' && section !== 'deprecations'">
                                        <mat-icon inline="true">east</mat-icon>
                                    </div>
                                    <div class="float wide" *ngIf="section !== 'deprecations'">
                                        <div class="version">
                                            <a href="{{getTechnique(attackID, viewModel, section).url}}" target="_blank">ATT&CK {{viewModel.version}}</a>
                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                
                                <div class="cols" *ngIf="tacticsChanged(attackID, section)">
                                    <div class="float wide" *ngIf="getTechnique(attackID, compareTo) as oldTechnique">
                                        <div class="changelog-cells" *ngFor="let tactic of getTactics(attackID, compareTo)">
                                            <div [dndDraggable]="oldTechnique.get_technique_tactic_id(tactic)">
                                                <changelog-cell
                                                    [tactic]="tactic"
                                                    [technique]="oldTechnique" 
                                                    [viewModel]="compareTo"
                                                    [isCurrentVersion]="false"
                                                    [isDraggable]="true"
                                                    [section]="section">
                                                </changelog-cell>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="float arrow">
                                        <mat-icon class="info" matTooltipPosition="above" 
                                            matTooltip='Drag and drop to copy annotations to the desired tactics in ATT&CK {{viewModel.version}}.'>
                                            info_outline
                                        </mat-icon>
                                    </div>
                
                                    <div class="float wide" *ngIf="getTechnique(attackID, viewModel, section) as newTechnique">
                                        <div class="changelog-cells" *ngFor="let tactic of getTactics(attackID, viewModel, section)"
                                            dndDropzone (dndDrop)="onDrop($event, newTechnique, tactic, section)">
                                            <changelog-cell
                                                [tactic]="tactic"
                                                [technique]="newTechnique" 
                                                [viewModel]="viewModel"
                                                [isCurrentVersion]="true"
                                                [section]="section">
                                            </changelog-cell>
                
                                            <span class="clear" *ngIf="isAnnotated(newTechnique, tactic, viewModel)"
                                                matTooltipPosition="above" matTooltip="clear annotations"
                                                (click)="clearAnnotations(newTechnique, tactic)">x</span>
                                        </div>
                                    </div>
                                </div>
                
                                <div *ngIf="!tacticsChanged(attackID, section)">
                                    <table class="wide">
                                        <tr *ngFor="let tactic of getTactics(attackID, compareTo, section)">
                                            <td *ngIf="section !== 'additions'">
                                                <changelog-cell
                                                    [tactic]="tactic"
                                                    [technique]="getTechnique(attackID, compareTo)" 
                                                    [viewModel]="compareTo"
                                                    [isCurrentVersion]="false"
                                                    [section]="section">
                                                </changelog-cell>
                                            </td>
                                            <td class="narrow button-container" *ngIf="section !== 'additions' && section !== 'deprecations'">
                                                <button class="button" matTooltipPosition="above" matTooltip="copy annotations"
                                                    [disabled]="isCopied(getTechnique(attackID, compareTo), tactic) || !anyAnnotated(attackID)"
                                                    (click)="onCopy(attackID, tactic)"><mat-icon inline="true">chevron_right</mat-icon></button>
                                                <button class="button" matTooltipPosition="above" matTooltip="revert copy"
                                                    [disabled]="!isCopied(getTechnique(attackID, compareTo), tactic)"
                                                    (click)="onRevertCopy(attackID, tactic)"><mat-icon inline="true">chevron_left</mat-icon></button>
                                            </td>
                                            <td *ngIf="section !== 'deprecations'">
                                                <changelog-cell
                                                    [tactic]="tactic"
                                                    [technique]="getTechnique(attackID, viewModel, section)" 
                                                    [viewModel]="viewModel"
                                                    [isCurrentVersion]="true"
                                                    [section]="section">
                                                </changelog-cell>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                
                
                                <div class="checkbox right">
                                    <input id="review_{{attackID}}" class="checkbox-custom" type="checkbox"
                                        [checked]="isReviewed(attackID)" (click)="reviewedChanged(attackID, panel)">
                                    <label for="review_{{attackID}}" class="checkbox-custom-label noselect">reviewed</label>
                                </div>

                            </ng-template>

                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>

            <ng-template #noObjects>
                No objects
            </ng-template>

            <mat-divider></mat-divider>

            <div class="stepper-button">
                <span>Reviewed {{countReviewed(section)}}/{{applyFilters(section).length}} techniques</span>

                <button *ngIf="section !== 'additions'" mat-stroked-button matStepperPrevious>Back</button>
                <button *ngIf="section !== 'unchanged'" mat-stroked-button matStepperNext>{{countReviewed(section) > 0 ? 'Next' : 'Skip'}}</button>
                <button *ngIf="section == 'unchanged'" mat-stroked-button (click)="openDialog()">Done</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>

<!-- close dialog template -->
<ng-template #closeDialog>
    <div class="close-dialog">
        <b>Close layer upgrade workflow?</b>
        <p>
            {{changelog.reviewed.size}}/{{changelog.length()}} objects have been reviewed.
            You will not be able to return to the layer upgrade window.
        </p>
        <div class="dialog-buttons">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button (click)="closeDialogRef.close(true)">Close</button>
        </div>
    </div>
</ng-template>