@import "../../colors.scss";

.help-dialog {
  font-size: 11pt;
  padding: 25px;

  .table-of-contents {
    list-style: none;
    margin: 0;
    padding: 0 25px 0 0;
    li.toc-heading {
      margin-bottom: 0;
      a {
        cursor: pointer;
        color: blue;
        text-decoration: underline;
      }
      @for $level from 1 through 6 {
        &.level-#{$level} {
          padding-inline-start: #{40 * ($level)}px;
        }
      }
    }
  }
  h1 {
    text-align: center;
    border-bottom: 1px solid black;
  }

  .content {
    overflow-y: scroll;
    max-height: 60vh;

    p, ul {
      margin-block-start: 1em;
      margin-block-end: 1em;
    }

    .style-none {
      list-style: none;
    }

    code {
      color: black;
      border: 1px solid $panel-dark;
      padding: 1px 2px;
      word-break: break-word;
    }
  }

  .top-button {
    margin-top: 25px;
    text-align: right;
  }
  .close-button {
    text-align: center;
  }
}
