$green-color: rgba(172, 255, 175);
$orange-color: rgba(255, 204, 128);
$red-color: rgba(255, 138, 128);

.green_cell {
  background-color: $green-color; /* Adjust the color to ensure it's noticeable */
}
.green_dropdown {
  display: table-row !important;
  background-color:rgba($green-color,0.6) ; /* Adjust the color to ensure it's noticeable */
}

.green_dropdown div {
  display: block !important;
}
tr.green_dropdown {
  height: 0;
}

.orange_cell {
  background-color: $orange-color; /* Adjust the color to ensure it's noticeable */
}

.orange_dropdown {
  display: table-row !important;
  background-color:rgba($orange-color,0.6) ; /* Adjust the color to ensure it's noticeable */
}

.orange_dropdown div {
  display: block !important;
}

.red_cell {
  background-color: $red-color; /* Adjust the color to ensure it's noticeable */
}
.red_dropdown {
  display: table-row !important;
  background-color:rgb($red-color,0.6) ; /* Adjust the color to ensure it's noticeable */
}
.red_dropdown div {
  display: block !important;
}
tr.red_dropdown {
  height: 0;
}


tr.orange_dropdown {
  height: 0;
}

table {
  margin: 0 auto;
  width: 60%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  padding: 20px;
  font-size: 16px;
}

.coverage-table {
  width: 100%;
}

.coverage-row {
  background-color: lightgrey;
  background-image: linear-gradient(to right, green, green);
  background-repeat: no-repeat;
}

.coverage-bar-container {
  position: relative;
  width: 100%;
}

.coverage-bar {
  height: 100%;
  background-color: green;
}

.green_cell .coverage-row {
  background-image: linear-gradient(to right, green, green);
}

.yellow_cell .coverage-row {
  background-image: linear-gradient(to right, yellow, yellow);
}
