h2, h3 {
    display: inline-block;
}
.right {
    float: right;
}
.checkbox-container {
    padding-bottom: 6px;
}
.section-panel {
    >.mat-expansion-panel-content {
        max-height: 60vh;
        overflow: auto;
    }
    .changelog-table {
        width: 100%;

        td {
            height: 100%;
            padding: 2px 0px;
        }
        td.narrow { width: 20px; }
        .narrow .mat-button {
            border: 1px solid black;
        }
        .button { margin: 0px; }
        tr {
            padding-bottom: 4px;
        }
    }
}
.done-button {
    padding: 12px 0;
    .mat-stroked-button { margin-left: 12px; }
}
.close-dialog {
    text-align: center;
    .dialog-buttons button {
        margin: 4px;
    }
}