<div class="layer-upgrade">
    <span><h2>Layer Upgrade</h2> ({{version(changelog.previousVersion)}} &#8594; {{version(changelog.latestVersion)}})</span>
    <div>
        <input id="show_unannotated" class="checkbox-custom" type="checkbox" [(ngModel)]="showUnannotated">
        <label for="show_unannotated" class="checkbox-custom-label noselect">show unannotated</label>
    </div>
    <div>
        <span><h3>Techniques</h3> ({{changelog.length()}} techniques)</span>

        <mat-accordion class="headers-align">
            <mat-expansion-panel *ngFor="let section of sections" [disabled]="!changelog[section].length">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{sectionHeader(section)}}
                    </mat-panel-title>
                    <mat-panel-description>
                        ({{changelog[section].length}} techniques)
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table>
                    <ng-container *ngFor="let object of changelog[section]">
                        <tr *ngFor="let id of getIDs(object)">
                        </tr>
                    </ng-container>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="button-container">
        <span>Updated {{updated.length}}/{{changelog.length()}} objects</span>
        <button mat-stroked-button (click)="upgradeLayer()">done</button>
    </div>
</div>
