<div class="layer-upgrade">
    <span><h2>Layer Upgrade</h2> ({{version(changelog.previousVersion)}} &#8594; {{version(changelog.latestVersion)}})</span>
    <div>
        <input id="show_annotated_only" class="checkbox-custom" type="checkbox" [(ngModel)]="showAnnotatedOnly">
        <label for="show_annotated_only" class="checkbox-custom-label noselect">show annotated only</label>
    </div>
    <div>
        <span><h3>Techniques</h3> ({{applyFilter().length()}}/{{changelog.length()}} techniques)</span>

        <mat-accordion class="headers-align">
            <mat-expansion-panel class="changelog-sections" *ngFor="let section of sections" [disabled]="!applyFilter()[section].length">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{getHeader(section)}}
                    </mat-panel-title>
                    <mat-panel-description>
                        ({{applyFilter().id_length(section)}}/{{changelog.id_length(section)}} techniques)
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div class="section-checkbox">
                    <input id="select_all_{{section}}" class="checkbox-custom" type="checkbox" [checked]="allSelected(section)" (click)="selectAllChanged(section)">
                    <label for="select_all_{{section}}" class="checkbox-custom-label noselect">select all</label>
                </div>

                <mat-expansion-panel *ngFor="let tactic of getSectionTactics(section)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{getHeader(tactic)}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <table *ngIf="['additions', 'deprecations'].includes(section)">
                        <ng-container *ngFor="let object of getTacticObjects(section, tactic)">
                            <tr *ngIf="object.get_technique_tactic_id(tactic) as id">
                                <td>
                                    <mat-checkbox [checked]="isReviewed(id)" (change)="reviewedChanged(id)"></mat-checkbox>
                                </td>
                                <td>
                                    <changelog-cell
                                        [tactic]="getTactic(id)"
                                        [technique]="getTechnique(id)" 
                                        [viewModel]="viewModel"
                                        (highlight)="onTechniqueHighlight($event, getTechnique(id), getTactic(id))"
                                        (unhighlight)="onTechniqueUnhighlight($event)">
                                    </changelog-cell>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                    <table *ngIf="['changes', 'minor_changes', 'revocations', 'unchanged'].includes(section)">
                        <ng-container *ngFor="let object of getTacticObjects(section, tactic)">
                            <tr *ngIf="object.get_technique_tactic_id(tactic) as id">
                                <td>
                                    <mat-checkbox [checked]="isReviewed(id)" (change)="reviewedChanged(id)"></mat-checkbox>
                                </td>
                                <!-- Technique from previous version -->
                                <td>
                                    <!-- <changelog-cell
                                        [tactic]="getTactic(id, false)"
                                        [technique]="getTechnique(id, false)" 
                                        [viewModel]="compareTo">
                                    </changelog-cell> -->
                                </td>
                                <!-- copy/undo button -->
                                <!-- <td> -->
                                    <!-- <button *ngIf="!isReviewed(id)" class="button" matTooltipPosition="above" matTooltip="copy annotations" (click)="copyAnnotations(id)">&gt;</button> -->
                                    <!-- <button *ngIf="isReviewed(id)" class="button" matTooltipPosition="above" matTooltip="undo copy" (click)="undoCopy(id)">&lt;</button> -->
                                <!-- </td> -->
                                <!-- Technique from new layer -->
                                <td>
                                    <changelog-cell
                                        [tactic]="getTactic(id)"
                                        [technique]="getTechnique(id)" 
                                        [viewModel]="viewModel"
                                        (highlight)="onTechniqueHighlight($event, getTechnique(id), getTactic(id))"
                                        (unhighlight)="onTechniqueUnhighlight($event)">
                                    </changelog-cell>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </mat-expansion-panel>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="button-container">
        <span>Updated {{reviewed.size}}/{{changelog.length()}} objects</span>
        <button mat-stroked-button (click)="openDialog()">done</button>
    </div>
</div>

<ng-template #closeDialog>
    <div class="close-dialog">
        <h3>WARNING</h3>
        <p>
            {{reviewed.size}}/{{changelog.length()}} objects have been reviewed.
        </p>
        <p>
            You will not be able to return to the layer upgrade window. Do you want to continue?
        </p>
        <div class="dialog-buttons">
            <button mat-button (click)="closeDialogRef.close(true)">Continue</button>
            <button mat-stroked-button mat-dialog-close>Cancel</button> 
        </div>
    </div>
</ng-template>