.title h2 {
    display: inline-block;
    margin: 0 0 12px;
}
.mat-card {
    margin: 1rem 0;
}
.changelog {
    margin: 1rem 0;
}
.changelog-cells {
    padding: 6px;
}
.mat-expansion-panel-content {
    max-height: 60vh;
    overflow: auto;
}
td.narrow {
    width: 20px;
}
.cols {
    display: flex;
    .float {
        float: left;
        padding: 6px;
        &:first-child { margin-right: 24px; }
    }
}
.wide {
    width: 100%;
}
.mat-expansion-panel-header {
    height: auto;
    min-height: 48px;
}
.checkbox {
    padding: 6px;
    &.right { float: right; }
}
.done-button {
    float: right;
    margin: 1rem 0;
    .mat-raised-button { margin-left: 12px; }
}
.close-dialog {
    text-align: center;
    .dialog-buttons button {
        margin: 4px;
    }
}