@import "../../matrix/technique-cell/technique-cell.component.scss";

.spacer {
    flex: 1 1 auto;
}
.button-container {
    padding: 12px 0;
    float: right;
    .mat-stroked-button { margin-left: 12px; }
}
h2, h3 {
    display: inline-block;
}
.section-checkbox {
    padding-bottom: 6px;
}
.changelog-sections {
    >.mat-expansion-panel-content {
        max-height: 60vh;
        overflow: auto;
    }
}
.close-dialog {
    text-align: center;
    h3 {
        color: red;
        margin-bottom: 0;
    }
    .dialog-buttons button {
        margin: 4px;
    }
}