@use '../../colors.scss';

.svgcontainer {
    overflow-x: auto;
    text-align: center;
    min-height: 60vh;
    max-height: 60vh;
    min-width: 75vw;
    max-width: 75vw;
    padding: 25px;

    &.dark-mode {
        background-color: colors.color(dark-1) !important;
    }
}

.dropdown-container {
    padding: 10px;
    top: 34px;
    ul {
        padding-left: 0;
        li {
            list-style: none;
            text-align: left;
        }
    }

    &.export {
        min-width: 100px;

        button {
            justify-content: flex-start;
            width: 100%;
        }
    }
}

.export-error {
    align-items: center;
    display: flex;
    margin: 0 25px 8px;
}

.iewarning {
    color: red;
}
