<div class="controlsContainer">
    <!-- <ul class="control-sections">
        <li>
            <div class="section-label">
                image size
            </div>

            <div class="control-row-item" >
                <input type="number" [(ngModel)]="width" (input)="buildSVG()">

                x
                <input type="number" [(ngModel)]="height" (input)="buildSVG()">
                <select [(ngModel)]="whUnits">
                    <option value="px">px</option>
                    <option value="in">in</option>
                    <option value="cm">cm</option>
                </select>

            </div>
        </li>
        <li>
            <div class="section-label">
                font size
            </div>
            <div class="control-row-item has-input">
                <input type="number" [(ngModel)]="fontSize" (input)="buildSVG()">pt
            </div>
            <select [(ngModel)]="cellTextMode" (change)="buildSVG()">
                <option value="none">No Text</option>
                <option value="name">Technique Name</option>
                <option value="id">Technique ID</option>
            </select>
        </li>

        <li>
            <div class="control-row-item">
                <div class="control-row-button noselect"
                [id]="'download-button' + exportData.viewModel.uid"
                    (click)="downloadSVG()"
                    matTooltipPosition="below"
                    matTooltip="download render">
                    <img src="assets/ic_file_download_black_24px.svg" alt="save layer"/>
                </div>
            </div>
        </li>
    </ul> -->
<ul>
    <li *ngFor="let configItem of getKeys(exportData.tableConfig)">
        {{configItem}}:
        <select *ngIf="configItem === 'unit'" [(ngModel)]="exportData.tableConfig[configItem]" (change)="buildSVG()">
            <option value="px">px</option>
            <option value="in">in</option>
            <option value="cm">cm</option>
        </select>
        <select *ngIf="configItem === 'tableTextDisplay'" [(ngModel)]="exportData.tableConfig[configItem]" (change)="buildSVG()">
            <option value="none">No Text</option>
            <option value="name">Technique Name</option>
            <option value="id">Technique ID</option>
        </select>

        <input *ngIf="type(exportData.tableConfig[configItem]) == 'number'" type="number" [(ngModel)]=exportData.tableConfig[configItem] (input)="buildSVG()">
        <input *ngIf="type(exportData.tableConfig[configItem]) == 'boolean'" type="checkbox" [(ngModel)]=exportData.tableConfig[configItem] (change)="buildSVG()">

    </li>
</ul>
<div class="control-row-button noselect"
[id]="'download-button' + exportData.viewModel.uid"
    (click)="downloadSVG()"
    matTooltipPosition="below"
    matTooltip="download render">
    <img src="assets/icons/ic_file_download_black_24px.svg" alt="save layer"/>
</div>

</div>

<div class="svgcontainer" [id]="'svgInsert' + exportData.viewModel.uid">
    loading...
</div>
