@import "../matrix-common.scss";
.matrix.side {
    // thead {
    //     background-color: color(matrix-header);
    //     color: on-color(matrix-header);
    // }
    // white-space: nowrap;
    .tactic {
        padding: 2px;
        width: 1%;
        vertical-align: top;
        &.name, &.count {
            text-align: center;
            font-size: $sizeunit + 2px;
        }
        &.name {
            cursor: pointer;
            font-weight: bold;
            // height: (($sizeunit + 2) * 3);
            vertical-align: bottom;
        }
        &.count { 
            font-size: $sizeunit - 1px;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }
        .techniques-table {
            border-collapse: collapse;
            width: 100%;
            tr, td {
                padding: 0;
            }
            tr {
                height: 1px;
            }
        }
        
        .supertechnique {
            border-collapse: collapse;
            width: 100%;
            padding: 0;
            margin: 0;

            td {
                padding: 0;
                vertical-align: top;
                
                &.technique {
                    box-shadow: 0 0 0 1px on-color-deemphasis(body) inset;
                    // outline: 1px solid on-color-deemphasis(body);
                    // outline-offset: -1px;
                }
            }
        }
        .subtechniques {
            &.hidden {
                display: none;
            }
            
            // expand to entire height of row if it's smaller than supertechnique
            display: flex;
            flex-direction: column;
            height: 100%;

            margin-left: -1px;
            border-left: 2px solid on-color-deemphasis(body);
            box-shadow: 0 0 0 1px on-color-deemphasis(body) inset;

            white-space: nowrap;
            vertical-align: top;
            
            .subtechnique {
                height: 100%;
                flex-grow: 1;
            }
        }
        
        .handle {
            font-family: roboto-regular;
            text-align: center;
            vertical-align: middle;
            transform: rotate(-90deg);
            color: color-alternate(body);
            
            width: 12px; height: 12px; 
            
            font-size: 16px;
            line-height: 12px;
        }
    }
    .sidebar {
        min-width: 8px;
        width: 12px;
        
        padding: 0;    
        background: on-color-deemphasis(body);
        cursor: pointer;
        position:relative;
        vertical-align: middle;
        .angle {
            display: none;
        }
        &.disabled {
            background: #aaaaaa;
            pointer-events: none;
        }
        &.expanded .angle {
            height: 12px;
            display:block;
            position: absolute;
            background: color(body);
            svg { fill: on-color-deemphasis(body); }
            &.top {
                top: 0px;
            }
            &.bottom {
                bottom: 0px;
            }
        }
    }
}