@import "../cell-popover.scss";


.tooltip {
    @include cell-popover(0.75);
    table {
        width: 100%;
        border-collapse: collapse;
        td {
            padding: 3px;
            vertical-align: top;
        }
        td:first-child {
            white-space: nowrap;
        }
        tr:nth-child(2) td {
            border-top: 1px solid white;
        }
        tr .divider {
            margin: 0;
            padding: 0;
            hr {
                margin: 0;
                padding: 0;          
            }
        }
    }
}