<div class="controlsContainer">
    <ul class="control-sections">
        <li *ngIf="configService.getFeatureGroup('selection_controls', 'any') && configService.getFeature('selecting_techniques')">
            <div *ngIf="configService.getFeatureGroupCount('selection_controls') >= 3" class="section-label">
                selection controls
            </div>


            <!-- lock selecting all with technique id -->
            <div *ngIf="configService.getFeature('deselect_all')" class="control-row-item">
                <div class="control-row-button noselect"
                     (click)="viewModel.changeTechniqueIDSelectionLock(); currentDropdown = null;"
                     matTooltipPosition="below"
                     matTooltip="lock multi-tactic technique selection">
                     <img [src]="viewModel.selectTechniquesAcrossTactics ? 'assets/icons/ic_lock_black_24px.svg' : 'assets/icons/ic_lock_open_black_24px.svg'" alt="lock"/>
                </div>
            </div>


            <!-- Search -->
            <div *ngIf="configService.getFeature('search')" class="control-row-item">

                <div class="control-row-button dropdown noselect"
                    (click)="currentDropdown = currentDropdown !== 'search' ? 'search' : null;"
                    matTooltipPosition="below"
                    matTooltip="search">
                    <img src="assets/icons/ic_search_black_24px.svg"/>
                </div>

                <div class="dropdown-container search" *ngIf="currentDropdown === 'search'" #dropdown [class.left]="checkalign(dropdown)">

                    <mat-form-field style="width:100%; margin-top:5px; padding: 10px; padding-bottom:0px;">
                        <input matInput

                        [(ngModel)]="searchString"
                        (input)="updateSearchDropdown()"
                        placeholder="Search for techniques here...">

                    </mat-form-field>
                    <div><b>Properties searched:</b></div>

                    <div>
                        <div class="noselect">
                            <input id="search-name-checkbox" class="checkbox-custom" type="checkbox" [(ngModel)]="searchingName" (change)="updateSearchDropdown()">
                            <label for="search-name-checkbox" class="checkbox-custom-label">Name</label>
                            <input id="search-id-checkbox" class="checkbox-custom" type="checkbox" [(ngModel)]="searchingID" (change)="updateSearchDropdown()">
                            <label for="search-id-checkbox" class="checkbox-custom-label">ID</label>
                            <input id="search-description-checkbox" class="checkbox-custom" type="checkbox" [(ngModel)]="searchingDescription" (change)="updateSearchDropdown()">
                            <label for="search-description-checkbox" class="checkbox-custom-label">Description</label>
                        </div>
                    </div>

                    <div>
                        <button  (click)="selectAllInSearch(); populateEditFields();" style="width:48.5%" class="button">select all</button>
                        <button (click)="deselectAllInSearch(); populateEditFields();" style="width:48.5%; margin-left:2px;" class="button">deselect all</button>
                    </div>

                    <div class="search-list">
                        <table>
                            <tr  *ngFor="let result of searchResults" class="search-list-item">
                                <td>
                                    <div class="search-list-item-label">
                                        {{result.name}}
                                    </div>
                                </td>
                                <td><a style="margin-right:2px" [href]="result.external_references_url" target="_blank">view</a></td>
                                <td><button  (click)="viewModel.addToTechniqueSelection_technique_id(result.technique_id); populateEditFields();" class="button">select</button></td>
                                <td><button (click)="viewModel.removeFromTechniqueSelection_technique_id(result.technique_id); populateEditFields();" class="button">deselect</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Multi-select -->
            <div *ngIf="configService.getFeature('multiselect')" class="control-row-item">
                <div class="control-row-button dropdown noselect"
                    (click)="currentDropdown = currentDropdown !== 'multiselect' ? 'multiselect' : null;"
                    matTooltipPosition="below"
                    [matTooltip]="'multi-select'">
                    <img src="assets/icons/ic_playlist_add_black_24px.svg"/>
                </div>
                <div class="dropdown-container multiselect" *ngIf="currentDropdown === 'multiselect'" #dropdown [class.left]="checkalign(dropdown)">
                    <div class="multiselect-grouping" *ngFor="let multiSelectGroup of [{data: threatGroupList, label: 'Threat Groups'}, {data: softwareGroupList, label: 'Software'}]">
                        <div class="multiselect-grouping-label">{{multiSelectGroup.label}}</div>
                        <div class="multiselect-list">
                            <table>
                                <tr  *ngFor="let securityInstance of multiSelectGroup.data" class="multiselect-list-item" [class.selected]="isSecurityInstanceSelected(securityInstance)">
                                    <td>
                                        <div class="multiselect-list-item-label">
                                            {{securityInstance.name}}
                                        </div>
                                    </td>
                                    <td><a *ngIf="securityInstance.url" style="margin-right:2px" [href]="securityInstance.url" target="_blank">view</a><span *ngIf="!securityInstance.url">----</span></td>
                                    <td><button (click)="selectSecurityInstance(securityInstance); populateEditFields();" class="multiselect-list-item-button button">select</button></td>
                                    <td><button (click)="deselectSecurityInstance(securityInstance); populateEditFields();" class="multiselect-list-item-button button">deselect</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <!-- deselect all -->
            <div *ngIf="configService.getFeature('deselect_all')" class="control-row-item">
                <div class="control-row-button noselect"
                     (click)="viewModel.clearTechniqueSelection(); currentDropdown = null;"
                     matTooltipPosition="below"
                     matTooltip="deselect {{this.viewModel.selectedTechniques.length}} techniques">
                    <img src="assets/icons/ic_clear_black_24px.svg" alt="deselect all"/>
                    <span class="deselectNumber">{{this.viewModel.selectedTechniques.length}}</span>
                </div>
            </div>


        </li>
        <li *ngIf="configService.getFeatureGroup('layer_controls', 'any')">
            <div *ngIf="configService.getFeatureGroupCount('layer_controls') >= 2" class="section-label">
                layer controls
            </div>

            <!-- layer description -->
            <div *ngIf="configService.getFeature('layer_info')" class="control-row-item">

                <div class="control-row-button dropdown noselect"
                     (click)="currentDropdown = currentDropdown !== 'description' ? 'description' : null"
                     matTooltipPosition="below"
                     matTooltip="layer information">
                     <img src="assets/icons/ic_description_black_24px.svg" alt="layer information" />
                 </div>

                 <!-- description input (invisible, absolute) -->
                 <div class="dropdown-container inputfield" #dropdown [class.left]="checkalign(dropdown)"
                      *ngIf="currentDropdown === 'description'">

                    <!-- layer name field -->
                    <mat-form-field>
                        <input matInput
                               type="text"
                               placeholder="name"
                               [(ngModel)]="viewModel.name" />
                    </mat-form-field>

                    <!-- layer description field -->
                    <mat-form-field>
                        <textarea matInput
                                    matTextareaAutosize
                                    placeholder="description"
                                    [(ngModel)]="viewModel.description">
                        </textarea>
                    </mat-form-field>
                 </div>
             </div>



            <!-- save locally as JSON -->
            <div *ngIf="configService.getFeature('download_layer')" class="control-row-item">
                <div class="control-row-button noselect"
                    (click)="saveLayerLocally()"
                    matTooltipPosition="below"
                    matTooltip="download layer as json">
                    <img src="assets/icons/ic_file_download_black_24px.svg" alt="save layer"/>
                </div>
            </div>

            <!-- export to excel -->
            <div class="control-row-item">
                <div class="control-row-button noselect"
                    (click)="saveLayerLocallyExcel()"
                    matTooltipPosition="below"
                    matTooltip="export to excel">
                    <img src="assets/icons/baseline-grid_on-24px.svg" alt="save layer"/>
                </div>
            </div>

         
            <!-- render layer to SVG -->
            <div *ngIf="configService.getFeature('export_render')" class="control-row-item">
                <div class="control-row-button noselect"
                    (click)="filteredTechniques.length > 0 ? exportRender() : pass"
                    matTooltipPosition="below"
                    matTooltip="render layer to SVG">
                    <img src="assets/icons/ic_camera_alt_black_24px.svg" alt="export render"/>
                </div>
            </div>

            <!-- Filters -->
            <div *ngIf="configService.getFeature('filters')" class="control-row-item">

                <div class="control-row-button dropdown noselect"
                    (click)="currentDropdown = currentDropdown !== 'filters' ? 'filters' : null;"
                    matTooltipPosition="below"
                    matTooltip="filters">
                    <img src="assets/icons/ic_filter_list_black_24px.svg"/>
                </div>
                <div class="dropdown-container filters" *ngIf="currentDropdown === 'filters'" #dropdown [class.left]="checkalign(dropdown)">
                    <div class="filter" *ngFor="let filter of ['platforms', 'stages']">
                        <b class="filter-label">{{filter}}</b>
                        <div class="filter-option" *ngFor="let filterOption of viewModel.filters[filter].options" >
                            <!-- <label class="noselect"><input type="checkbox" (click)="viewModel.filters.toggleInFilter(filter, filterOption); filterTechniques()" [checked]="viewModel.filters.inFilter(filter, filterOption)">{{filterOption}}</label> -->
                            <input [id]="filterOption" class="checkbox-custom" type="checkbox" (click)="viewModel.filters.toggleInFilter(filter, filterOption); filterTechniques()" [checked]="viewModel.filters.inFilter(filter, filterOption)">
                            <label for="{{filterOption}}" class="checkbox-custom-label noselect">{{filterOption}}</label>
                        </div>
                        <!-- <div class="filter-option" *ngFor="let filterOption of viewModel.filters[filter].options" (click)="viewModel.filters.toggleInFilter(filter, filterOption); filterTechniques()">
                            {{filterOption}}  {{viewModel.filters.inFilter(filter, filterOption)}}
                        </div> -->
                    </div>
                    <!-- <mat-select placeholder="platforms" [(ngModel)]="platformControl"
                        multiple disableRipple autofocus (change)="filterTechniques(); viewModel.filters.platforms.selection = platformsControl">
                        <mat-option *ngFor="let platformOption of viewModel.filters.platforms.options" [value]="platformOption">{{platformOption}}</mat-option>
                    </mat-select> -->
                    <!-- <filter-menu [dataTable]="this"></filter-menu> -->
                </div>
            </div>

            <!-- sorting -->
            <div *ngIf="configService.getFeature('sorting')" class="control-row-item">
                <div class="control-row-button noselect"
                    (click)="viewModel.sorting = (viewModel.sorting + 1) % 4; filterTechniques()"
                    matTooltipPosition="below"
                    [matTooltip]="['sorting alphabetically ascending', 'sorting alphabetically descending', 'sorting by score ascending', 'sorting by score descending'][viewModel.sorting]">
                    <img [src]="['assets/icons/ic_sort_alphabetically_ascending_black_24px.svg', 'assets/icons/ic_sort_alphabetically_descending_black_24px.svg', 'assets/icons/ic_sort_numerically_ascending_black_24px.svg', 'assets/icons/ic_sort_numerically_descending_black_24px.svg'][viewModel.sorting]" alt="sorting"/>
                </div>
            </div>

            <!-- color setup -->
            <div *ngIf="configService.getFeature('color_setup')" class="control-row-item">
                <div class="control-row-button dropdown noselect"
                    (click)="currentDropdown = currentDropdown !== 'colorSetup' ? 'colorSetup' : null; viewModel.updateGradient()"
                    matTooltipPosition="below"
                    matTooltip="color setup">
                    <img src="assets/icons/ic_palette_black_24px.svg"/>
                </div>
                <div class="dropdown-container colorSetup" *ngIf="currentDropdown === 'colorSetup'" #dropdown [class.left]="checkalign(dropdown)">

                    <div class="tacticRowColor">
                        <div class="gradient-section-label">
                            Tactic Row Background
                        </div>
                        <div class="gradient-section-content">
                            <input id="showTacticRowBackground" type="checkbox" class="checkbox-custom" [(ngModel)]=viewModel.showTacticRowBackground>
                            <label for="showTacticRowBackground" class="checkbox-custom-label noselect">show</label>
                            <input class="colorpicker" [(colorPicker)]="viewModel.tacticRowBackground" [(ngModel)]="viewModel.tacticRowBackground" [style.background]="viewModel.tacticRowBackground" cpPosition="bottom" [cpPresetColors]="['#ddd', '#aaaaaa', '#205B8F', '#B9482D']">
                        </div>
                    </div>
                    <div class="gradient">
                        <div class="gradient-section-label">
                            Scoring Gradient
                        </div>
                        <div class="gradient-controls gradient-section-content">
                            <table>
                                <tr class="minmax top">
                                    <td>Low value:</td>
                                    <td class="col2"><input type="number" (input)="viewModel.updateGradient()" [(ngModel)]="viewModel.gradient.minValue" [max]=viewModel.gradient.maxValue></td>
                                </tr>
                                <tr>
                                    <td class="buttons">
                                        <div *ngFor="let gradientStep of viewModel.gradient.colors; let $i = index">
                                            <div class="left">
                                                <button (click)="viewModel.removeGradientColor($i)" [disabled]="viewModel.gradient.colors.length == 2">remove</button>
                                            </div>
                                            <div class="right">
                                                <input class="colorpicker" (colorPickerChange)="viewModel.updateGradient()" (cpPresetColorsChange)="viewModel.updateGradient()" (cpSliderChange)="viewModel.updateGradient()" (cpInputChange)="viewModel.updateGradient()" [(colorPicker)]="gradientStep.color" [(ngModel)]="gradientStep.color" [style.background]="gradientStep.color" cpPosition="bottom" [cpPresetColors]="viewModel.gradient.options">
                                                <!-- <select [(ngModel)]="gradientStep.color" (ngModelChange)="viewModel.updateGradient()">
                                                    <option *ngFor="let color of viewModel.gradient.options" [ngValue]="color">{{color}}</option>
                                                    option shows up if a nonstandard option is selected, from uploading a custom layer
                                                    <option *ngIf="!(viewModel.gradient.labelToColor.hasOwnProperty(gradientStep.color))" [ngValue]=gradientStep.color>{{gradientStep.color}}</option>
                                                </select> -->
                                            </div>
                                        </div>
                                    </td>
                                    <td class="col2" [style.background-image]="sanitize(viewModel.gradient.gradient.css('linear', 'to bottom'))"> </td>
                                </tr>
                                <tr>
                                    <td><button class="addcolor" (click)="viewModel.addGradientColor();">add another color</button></td>
                                </tr>
                                <tr class="minmax bottom">
                                    <td>High value: </td>
                                    <td class="col2 "><input type="number" (input)="viewModel.updateGradient()" [(ngModel)]="viewModel.gradient.maxValue" [min]=viewModel.gradient.minValue></td>
                                </tr>
                            </table>
                            <div class="display-buttons">
                                <div class="squarebutton dropdown noselect" (click)="presetsMenuVisible = !presetsMenuVisible">
                                    presets<span style="font-size:5pt">▼</span>
                                </div >
                                <div class="dropdown-container presetsmenu" *ngIf="presetsMenuVisible">
                                    <div class="squarebutton noselect gradient" (click)="viewModel.gradient.setGradientPreset('redgreen'); presetsMenuVisible = false; viewModel.updateGradient()" [style.background-image]="sanitize(viewModel.gradient.presetToTinyColor('redgreen'))">red to green</div>
                                    <div class="squarebutton noselect gradient" (click)="viewModel.gradient.setGradientPreset('greenred'); presetsMenuVisible = false; viewModel.updateGradient()" [style.background-image]="sanitize(viewModel.gradient.presetToTinyColor('greenred'))">green to red</div>
                                    <div class="squarebutton noselect gradient" (click)="viewModel.gradient.setGradientPreset('bluered'); presetsMenuVisible = false; viewModel.updateGradient()" [style.background-image]="sanitize(viewModel.gradient.presetToTinyColor('bluered'))">blue to red</div>
                                    <div class="squarebutton noselect gradient" (click)="viewModel.gradient.setGradientPreset('redblue'); presetsMenuVisible = false; viewModel.updateGradient()" [style.background-image]="sanitize(viewModel.gradient.presetToTinyColor('redblue'))">red to blue</div>
                                    <div class="squarebutton noselect gradient" (click)="viewModel.gradient.setGradientPreset('whiteblue'); presetsMenuVisible = false; viewModel.updateGradient()" [style.background-image]="sanitize(viewModel.gradient.presetToTinyColor('whiteblue'))">white to blue</div>
                                    <div class="squarebutton noselect gradient" (click)="viewModel.gradient.setGradientPreset('whitered'); presetsMenuVisible = false; viewModel.updateGradient()" [style.background-image]="sanitize(viewModel.gradient.presetToTinyColor('whitered'))">white to red</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- show or hide disabled techniques -->
            <div *ngIf="configService.getFeature('toggle_hide_disabled')" class="control-row-item">
                <div class="control-row-button noselect"
                     (click)="viewModel.hideDisabled = !viewModel.hideDisabled; filterTechniques()"
                     matTooltipPosition="below"
                     matTooltip="show/hide disabled">
                     <img [src]="viewModel.hideDisabled ? 'assets/icons/ic_visibility_off_black_24px.svg' : 'assets/icons/ic_visibility_black_24px.svg'" [alt]="viewModel.hideDisabled ? 'show disabled' : 'hide disabled'"/>
                 </div>
             </div>

             <!-- view mode -->
            <div *ngIf="configService.getFeature('toggle_view_mode')" class="control-row-item">
                <div class="control-row-button noselect"
                     (click)="viewModel.viewMode = (viewModel.viewMode + 1) % 3"
                     matTooltipPosition="below"
                     matTooltip="toggle view mode">
                      <img [src]="['assets/icons/ic_view_large_black_24px.svg', 'assets/icons/ic_view_medium_black_24px.svg', 'assets/icons/ic_view_small_black_24px.svg'][viewModel.viewMode]" [alt]="['full view', 'compact view', 'mini view'][viewModel.viewMode]"/>
                 </div>
             </div>

        </li>
        <li *ngIf="configService.getFeatureGroup('technique_controls', 'any') && configService.getFeature('selecting_techniques')">
            <div *ngIf="configService.getFeatureGroupCount('technique_controls') >= 3" class="section-label">
                technique controls
            </div>
            <!-- TECHNIQUE CONTROLS -->
            <!-- enable/disable technique -->
            <div *ngIf="configService.getFeature('disable_techniques')" class="control-row-item">
                <div class="control-row-button noselect"
                     (click)="setSelectedState()"
                     matTooltipPosition="below"
                     matTooltip="toggle state"
                     [matTooltipDisabled]="!viewModel.isCurrentlyEditing()">
                     <img [src]="viewModel.isCurrentlyEditing() ? 'assets/icons/ic_texture_black_24px.svg' : 'assets/icons/ic_texture_gray_24px.svg'" alt="toggle state"/>
                 </div>
             </div>

            <!-- background color -->
            <div *ngIf="configService.getFeature('manual_color')" class="control-row-item">

                <div class="control-row-button dropdown noselect"
                     (click)="viewModel.isCurrentlyEditing() ? currentDropdown = currentDropdown !== 'colorpicker' ? 'colorpicker' : null : continue"
                     matTooltipPosition="below"
                     matTooltip="background color"
                     [matTooltipDisabled]="!viewModel.isCurrentlyEditing()"
                     [style.color]="viewModel.isCurrentlyEditing() ? '#000000' : '#aaaaaa'">

                    <svg border="#dddddd" [attr.fill]="viewModel.isCurrentlyEditing() ? '#000000' : '#aaaaaa'" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M16.56 8.94L7.62 0 6.21 1.41l2.38 2.38-5.15 5.15c-.59.59-.59 1.54 0 2.12l5.5 5.5c.29.29.68.44 1.06.44s.77-.15 1.06-.44l5.5-5.5c.59-.58.59-1.53 0-2.12zM5.21 10L10 5.21 14.79 10H5.21zM19 11.5s-2 2.17-2 3.5c0 1.1.9 2 2 2s2-.9 2-2c0-1.33-2-3.5-2-3.5z"/>
                        <path [attr.class]="viewModel.isCurrentlyEditing() ? viewModel.getEditingCommonValue('color') : none" d="M0 20h24v4H0z"/>
                    </svg>
                </div>
                <!-- color picker (invisible, absolute)-->
                <div class="colorpicker dropdown-container" #dropdown [class.left]="checkalign(dropdown)"
                     *ngIf="currentDropdown === 'colorpicker'">

                    <div class="color-block wide noselect dropdown"
                         (click)="viewModel.editSelectedTechniques('color', '')">
                        no color
                    </div>
                    <div class="color-block square"
                         *ngFor="let color of viewModel.backgroundPresets"
                         [style.background]="color"
                         (click)="viewModel.editSelectedTechniques('color', color)"></div>
                </div>
            </div>


            <!-- score -->
            <div *ngIf="configService.getFeature('scoring')" class="control-row-item" >
                <div class="control-row-button dropdown noselect"
                     (click)="viewModel.isCurrentlyEditing() ? currentDropdown = currentDropdown !== 'score' ? 'score' : null : continue"
                     matTooltipPosition="below"
                     matTooltip="scoring"
                     [matTooltipDisabled]="!viewModel.isCurrentlyEditing()"
                     [style.color]="viewModel.isCurrentlyEditing() ? '#000000' : '#aaaaaa'">
                     <img [src]="viewModel.isCurrentlyEditing() ? 'assets/icons/ic_insert_chart_black_24px.svg' : 'assets/icons/ic_insert_chart_gray_24px.svg'" alt="score"/>
                </div>
                <div class="dropdown-container inputfield" #dropdown [class.left]="checkalign(dropdown)"
                     *ngIf="currentDropdown === 'score'">
                     <mat-form-field>
                         <!-- update data whenever it is typed in -->
                         <input matInput
                                type="text"
                                onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode == 46"
                                [(ngModel)]="scoreEditField"
                                placeholder="score"
                                (input)="viewModel.editSelectedTechniques('score', $event.target.value); viewModel.editSelectedTechniques('scoreColor', viewModel.gradient.getColor($event.target.value)); filterTechniques()">
                         <mat-hint style="color: red" align="start" *ngIf="validateScoreInput()">not a number</mat-hint>
                     </mat-form-field>
                </div>
            </div>


            <!-- comment -->
            <div *ngIf="configService.getFeature('comments')"  class="control-row-item">

                <div class="control-row-button dropdown noselect"
                     (click)="viewModel.isCurrentlyEditing() ? currentDropdown = currentDropdown !== 'comment' ? 'comment' : null : continue"
                     matTooltipPosition="below"
                     matTooltip="comment"
                     [matTooltipDisabled]="!viewModel.isCurrentlyEditing()"
                     [style.color]="viewModel.isCurrentlyEditing() ? '#000000' : '#aaaaaa'">
                     <img [src]="viewModel.isCurrentlyEditing() ? 'assets/icons/ic_insert_comment_black_24px.svg' : 'assets/icons/ic_insert_comment_gray_24px.svg'" alt="comment" />
                 </div>
                 <!-- comment input (invisible, absolute) -->
                 <div class="dropdown-container inputfield left" #dropdown [class.left]="checkalign(dropdown)"
                      *ngIf="currentDropdown === 'comment'">

                    <mat-form-field>
                        <textarea matInput
                                  matTextareaAutosize
                                  placeholder="comment"
                                  [(ngModel)]="commentEditField"
                                  (input)="viewModel.editSelectedTechniques('comment', $event.target.value)">
                        </textarea>
                    </mat-form-field>
                 </div>
             </div>
             <!-- remove all annotations -->
             <div *ngIf="configService.getFeature('clear_annotations')" class="control-row-item">
                 <div class="control-row-button noselect"
                      (click)="viewModel.resetSelectedTechniques(); populateEditFields()"
                      matTooltipPosition="below"
                      matTooltip="clear annotations on selected"
                      [matTooltipDisabled]="!viewModel.isCurrentlyEditing()">
                      <img [src]="viewModel.isCurrentlyEditing() ? 'assets/icons/ic_layers_clear_black_24px.svg' : 'assets/icons/ic_layers_clear_gray_24px.svg'" alt="remove all annotations"/>
                  </div>
              </div>
        </li>
    </ul>
</div>


<div class="tableContainer" oncontextmenu="return false">
    <div [class]="'dataTable noselect ' + ['full', 'compact', 'mini'][viewModel.viewMode]">
        <table>
            <tr [style.background]="viewModel.showTacticRowBackground && viewModel.viewMode != 2  ? sanitize(viewModel.tacticRowBackground) : 'none'"
                [style.border-color]="viewModel.showTacticRowBackground && viewModel.viewMode != 2  ? sanitize(viewModel.tacticRowBackground) : 'none'"
                [style.color]="getTacticRowTextColor()">
                <td *ngFor="let tactic of dataService.tacticNames(filteredTechniques)"
                    [class]="'header column ' + ['full', 'compact', 'mini'][viewModel.viewMode]"
                    [class.anti-highlight]="viewModel.highlightedTactic && tactic != viewModel.highlightedTactic"
>
                    <div
                        [matTooltipDisabled]="viewModel.viewMode == 0"
                         matTooltip="{{tacticDisplayNames[tactic]}}"
                         matTooltipPosition="right"
                         (click)="clickTactic(tactic)"
                         [class]="'cell link header ' + ['full', 'compact', 'mini'][viewModel.viewMode]"
                         [style.border-width]="viewModel.showTacticRowBackground || viewModel.viewMode == 0 ? '0px' : '1px'">
                         {{[tacticDisplayNames[tactic], viewModel.acronym(tacticDisplayNames[tactic]), ''][viewModel.viewMode]}}
                    </div>
                </td>
            </tr>
            <tr *ngIf="viewModel.viewMode != 2"
                [style.background]="viewModel.showTacticRowBackground && viewModel.viewMode != 2  ? sanitize(viewModel.tacticRowBackground) : 'none'"
                [style.border-color]="viewModel.showTacticRowBackground && viewModel.viewMode != 2  ? sanitize(viewModel.tacticRowBackground) : 'none'"
                [style.color]="getTacticRowTextColor()">
                <td *ngFor="let tactic of dataService.tacticNames(filteredTechniques)"
                    [class]="'column' + ['full', 'compact', 'mini'][viewModel.viewMode]"
                    [class.anti-highlight]="viewModel.highlightedTactic && tactic != viewModel.highlightedTactic">

                    <div class="cell itemcount">
                        {{tactics[tactic].length}}<span *ngIf="viewModel.viewMode == 0"> items</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td *ngFor="let tactic of dataService.tacticNames(filteredTechniques)"
                    [class]="'techniques column ' + ['full', 'compact', 'mini'][viewModel.viewMode]"
                    [class.anti-highlight]="viewModel.highlightedTactic && tactic != viewModel.highlightedTactic">

                    <div *ngFor="let technique of tactics[tactic]"

                        (click)="techniqueSelectEvent(technique, $event.shiftKey || $event.ctrlKey || $event.metaKey, tactic, $event)"
                         (contextmenu)="rightClickTechnique(technique, tactic, $event)"

                         (mouseenter)="viewModel.highlightedTechnique = technique; this.viewModel.hoverTactic = tactic;"
                         (mouseleave)="viewModel.highlightedTechnique = null; this.viewModel.hoverTactic = tactic;"

                         [class]="getClass(technique, tactic)"
                         [ngStyle]="getTechniqueBackground(technique)">
                         <span [style.color]="getTechniqueTextColor(technique, viewModel.highlightedTactic && tactic != viewModel.highlightedTactic)">{{ [technique.name, viewModel.acronym(technique.name), ''][viewModel.viewMode] }}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


<!--
   ___ ___  _  _ _____ _____  _______   __  __ ___ _  _ _   _ ___     _   _  _ ___    _____ ___   ___  _  _____ ___ ___  ___
  / __/ _ \| \| |_   _| __\ \/ /_   _| |  \/  | __| \| | | | / __|   /_\ | \| |   \  |_   _/ _ \ / _ \| ||_   _|_ _| _ \/ __|
 | (_| (_) | .` | | | | _| >  <  | |   | |\/| | _|| .` | |_| \__ \  / _ \| .` | |) |   | || (_) | (_) | |__| |  | ||  _/\__ \
  \___\___/|_|\_| |_| |___/_/\_\ |_|   |_|  |_|___|_|\_|\___/|___/ /_/ \_\_|\_|___/    |_| \___/ \___/|____|_| |___|_|  |___/
 -->


<!-- Context Menu: page cover -->
<div *ngIf="contextMenuVisible"
    (click)="contextMenuVisible = false; "
    (contextmenu)="contextMenuVisible = false;"
    class="contextMenu-cover">
</div>
<!-- Context Menu: Menu -->
<div [hidden]="!contextMenuVisible"
     class="contextMenu-box dropdown-container noselect"
     (contextmenu)="contextMenuVisible = false;"
     [id]="'contextMenu'+viewModel.uid">
    <div *ngIf="configService.getFeature('selecting_techniques')" class="contextMenu-section">
        <div class="contextMenu-button" (click)="viewModel.replaceTechniqueSelection(contextMenuSelectedTechnique); contextMenuVisible = false; populateEditFields();">
            select
        </div>
        <div class="contextMenu-button" (click)="viewModel.addToTechniqueSelection(contextMenuSelectedTechnique); contextMenuVisible = false; populateEditFields();">
            add to selection
        </div>
        <div class="contextMenu-button" (click)="viewModel.removeFromTechniqueSelection(contextMenuSelectedTechnique); contextMenuVisible = false; populateEditFields();">
            remove from selection
        </div>
    </div>
    <div *ngIf="configService.getFeature('selecting_techniques')" class="contextMenu-section">
        <div class="contextMenu-button" (click)="viewModel.selectAllTechniques(); contextMenuVisible = false; populateEditFields();">
            select all
        </div>
        <div class="contextMenu-button" (click)="viewModel.clearTechniqueSelection(); contextMenuVisible = false; populateEditFields();">
            deselect all
        </div>
        <div class="contextMenu-button" (click)="viewModel.invertSelection(); contextMenuVisible = false; populateEditFields();">
            invert selection
        </div>
    </div>
    <div class="contextMenu-section">
        <div class="contextMenu-button" (click)="openURL($event, contextMenuSelectedTechnique); contextMenuVisible = false; ">
            view technique
        </div>
    </div>
    <div *ngIf="customContextMenuItems.length > 0" class="contextMenu-section">
        <div *ngFor="let option of customContextMenuItems" class="contextMenu-button" (click)="openCustomURL($event, contextMenuSelectedTechnique, option.url); contextMenuVisible = false; ">
            {{option.label}}
        </div>
    </div>
</div>

<!-- Tooltip -->
<div class="tooltip noselect" [id]="'tooltip'+viewModel.uid">
    <div *ngIf="viewModel.highlightedTechnique">
        <div>
            <span *ngIf="viewModel.viewMode != 0">{{viewModel.highlightedTechnique.name}} (</span>{{viewModel.highlightedTechnique.technique_id}}<span *ngIf="viewModel.viewMode != 0">)</span>
        </div>
        <!-- <table>
            <tr *ngIf="viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_id).score">
                <td>Score:</td>
                <td>{{viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_id).score}}</td>
            </tr>
            <tr *ngIf="viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_id).comment">
                <td>Comment:</td>
                <td>{{viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_id).comment}}</td>
            </tr>
        </table> -->
        <div *ngIf="viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_tactic_union_id).score">
            <b>Score:</b> {{viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_tactic_union_id).score}}
        </div>
        <div class="comment" [id]="'comment'+viewModel.uid" *ngIf="viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_tactic_union_id).comment">
            <b>Comment:</b> {{viewModel.getTechniqueVM(viewModel.highlightedTechnique.technique_tactic_union_id).comment}}
        </div>
        <div class="comment-overflow-note" *ngIf="toolTipOverflows">
            ...
        </div>

    </div>

</div>

<div class="legendBar" (click)="toggleLegend()" *ngIf="!showingLegend && configService.getFeature('legend')">
    <img src="assets/icons/ic_keyboard_arrow_up_black_24px.svg" style="position: absolute; left:4px; top: 3px;">
    <div class="noselect" style="padding:4px; font-size:14px; position: absolue; width: 100%; text-align:center">
        legend
    </div>
</div>

<div class="legend" *ngIf="showingLegend && configService.getFeature('legend')">
    <div class="legendBar" (click)="toggleLegend()" style="position: absolute; top:0px; left:0px;">
        <img src="assets/icons/ic_keyboard_arrow_down_black_24px.svg" style="position: absolute; left:4px; top: 3px;">
        <div class="noselect" style="padding:4px; font-size:14px; position: absolue; width: 100%; text-align:center">
            legend
        </div>
    </div>
    <div class="itemArea">
        <div class="item" *ngFor="let item of viewModel.legendItems; let Even=even; let i=index" [class.even]="!Even">
            <input [(colorPicker)]="item.color" [(ngModel)]="item.color" [style.background]="item.color" [cpPosition]="'top'" [cpPresetColors]="viewModel.legendColorPresets" style="width:75px;"/>
            <!-- <input class="label" [(ngModel)]="item.label"> -->
            <mat-form-field class="label">
                    <input matInput

                    [(ngModel)]="item.label">

            </mat-form-field>
            <img src="assets/icons/ic_clear_gray_24px.svg" style="position: relative; top:5px; right:0px;" (click)="viewModel.deleteLegendItem(i);">
        </div>
        <button style="margin-left:75px; margin-top:10px; margin-bottom:10px;" class="button" (click)="viewModel.addLegendItem();">Add Item</button>
        <button style="margin-top:10px; margin-bottom:10px;" class="button" (click)="viewModel.clearLegend();">Clear</button>
    </div>
</div>
