@import "../../../colors.scss";
.search-notification-popover .popover {
    cursor: default;

    // WARNING: if width changes, translate must also change
    transform: translateY(16px);
    width: 250px !important;

    // override colors
    @include adaptive-color("background-color", color(body), color(dark-3));
    .arrow::before, .arrow::after {
        @include adaptive-color("border-bottom-color", color(body) !important, color(dark-3) !important);
    }

    .popover-body {
        @include adaptive-color("color", on-color(body), on-color(dark-3));
        text-align: left;
        .animation-wrapper {
            text-align: center;
            // .animated-icon {
            //     margin-right: 6px;
            // }
            margin-left: 6px;
            .animated-icon + .animated-icon {
                margin-left: 6px;
            }
        }
        button.mat-raised-button { // nested items inside parent expansion panel
            @include adaptive-color-dark-only("background-color", color(dark-4));
            @include adaptive-color-dark-only("color", on-color(dark));
        }
    };
}
