@import "../../../colors.scss";
.search-notification-popover .popover {
    cursor: default;
    
    // WARNING: if width changes, translate must also change
    transform: translateY(16px);
    width: 250px !important;
    
    // override colors
    background-color: color(body);
    .arrow::before, .arrow::after {
        border-bottom-color: color(body) !important;
    }

    .popover-body { 
        color: on-color(body) !important; 
        text-align: left;
        .animation-wrapper {
            text-align: center;
            // .animated-icon {
            //     margin-right: 6px;
            // }
            margin-left: 6px;
            .animated-icon + .animated-icon {
                margin-left: 6px;
            }
        }
    };
}