<div class="search-notification" #popoverTrigger="popover" [popover]="updateNotification"></div>

<popover-content #updateNotification placement="bottom" class="search-notification-popover">
    <div (click)="closePopover()">
        <div class="animation-wrapper">
            <span [@mergeIconLeft]="animationState" class="animated-icon search-icon material-icons">search</span>
            <span [@mergeIconRight]="animationState" (@mergeIconRight.done)="onAnimationEnd($event)" class="animated-icon multiselect-icon material-icons">playlist_add</span>
        </div>
        <p>
            Navigator v4.4 has merged the multiselect and search tools into a single interface.
        </p>
        <button mat-raised-button (click)="closePopover()">CHECK IT OUT</button>
    </div>
</popover-content>
