<div class="search-notification" #popoverTrigger="popover" [popover]="updateNotification"></div>

<popover-content #updateNotification placement="bottom" class="search-notification-popover">
    <div class="animation-wrapper">
        <img class="animated-icon search-icon" src="assets/icons/ic_search_black_24px.svg"/>
        <img [@mergeIcon]="animationState" (@mergeIcon.done)="onAnimationEnd($event)" class="animated-icon multiselect-icon" src="assets/icons/ic_playlist_add_black_24px.svg"/>
    </div>
    <p>
        Navigator v4.4 has merged the multiselect interface into search.
    </p>
    <button mat-raised-button>Got it</button>
</popover-content>