<div class="techniques-search">
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Search Techniques</mat-label>
            <span matPrefix><img src="assets/icons/ic_search_black_24px.svg"></span>
            <input matInput [(ngModel)]="query" placeholder="Search Techniques">
            <button matSuffix class="button-settings"><img src="assets/icons/ic_settings_black_24dp.svg"/></button>
        </mat-form-field>
    </div>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Settings</h4>
                </mat-panel-title>
                <mat-panel-description>
                    <div class="fields">
                        <div class="field" *ngFor="let field of fields">
                            <input [id]="field.field" class="checkbox-custom" type="checkbox"
                                   (click)="toggleFieldEnabled(field.field)" [checked]="field.enabled">
                            <label [for]="field.field" class="checkbox-custom-label noselect">{{field.label}}</label>
                        </div>
                    </div>
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>Techniques ({{techniqueResults.length}})</h4>
                </mat-panel-title>
                <mat-panel-description>
                    //
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!--    NEED TO COMMUNICATE BACK FROM DIALOG RATHER THAN OTHER WAY AROUND!!-->
            <div *ngIf="queryLength > 0 else noResults">
                <div class="allresults-buttons">
                    <button class="button" (click)="selectAll()">select all</button>
                    <button class="button" (click)="deselectAll()">deselect all</button>
                </div>
                <div class="results">
                    <table class="results" *ngIf="techniqueResults.length > 0">
                        <tr *ngFor="let result of techniqueResults">
                            <td>
                                <span *ngIf="result.isSubtechnique">{{result.parent.name}}: </span>{{result.name}}
                            </td>
                            <td><a href="{{result.url}}" target="_blank">view</a></td>
                            <td>
                                <button class="button" (click)="select(result)">select</button>
                            </td>
                            <td>
                                <button class="button" (click)="deselect(result)">deselect</button>
                            </td>
                        </tr>
                    </table>
                    <div class="no-results" *ngIf="techniqueResults.length == 0"> no results</div>
                </div>
            </div>
            <ng-template #noResults>
                No results
            </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel *ngFor="let stixType of stixTypes" class="stixType">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h4>
                        {{stixType.label | titlecase }} ({{stixType.objects.length}})
                    </h4>
                </mat-panel-title>
                <mat-panel-description>
                    //
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div *ngIf="stixType.objects.length !== 0" class="objects">
                <table>
                    <tr *ngFor="let stixObject of stixType.objects">
                        <td>{{stixObject.name}}</td>
                        <td><a href="{{stixObject.url}}" target="_blank">view</a></td>
                        <td>
                            <button class="button" (click)="selectStix(stixObject)">select</button>
                        </td>
                        <td>
                            <button class="button" (click)="deselectStix(stixObject)">deselect</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="stixType.objects.length == 0">
                Data does not include {{stixType.label}}
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
