$table-background-color: rgb(255, 255, 255);
$column-hover-color: rgb(235, 235, 235);
$cell-border-color: darken($column-hover-color, 20%);
$cell-highlight-color: rgb(96, 197, 255);
$hover-cell-font-color: rgb(0, 0, 0);
$panel-dark: #ddd;
$panel-light: lighten($panel-dark, 8%);
$tab-text-color: #555;
$button-dark: #b8b8b8;