@import "../../colors.scss";

.svgcontainer {
    overflow-x: auto;
    text-align: center;
    min-height: 60vh;
    max-height: 60vh;
    min-width: 75vw;
    max-width: 75vw;
    padding:25px;
}

.close-button {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}

.dropdown-container {
    padding: 10px;
    top: 34px;
    ul {
        padding-left: 0;
        li {
            list-style: none;
            text-align: left;
            input.has-suffix {
                text-align: right;
                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    display: none
                }
                -moz-appearance: textfield;
            }
        }
    }
}

.iewarning {
    color: red;
}
