<div class="svg-export-dialog">
    <!-- svg toolbar -->
    <mat-toolbar class="toolbar-container">
        <div class="section">
            <!-- close dialog -->
            <button mat-icon-button mat-dialog-close matTooltipPosition="below" matTooltip="close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="section">
            <!-- settings -->
            <button mat-icon-button (click)="sidebar.toggle()" matTooltipPosition="below" matTooltip="open settings">
                <mat-icon>view_sidebar</mat-icon>
            </button>
            <!-- download SVG -->
            <button mat-icon-button (click)="downloadSVG()" matTooltipPosition="below" matTooltip="download">
                <mat-icon>file_download</mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <div class="sidenav-container">
        <mat-drawer-container>
            <!-- sidebar SVG settings -->
            <mat-drawer #sidebar mode="side" position="end" fixedInViewport="true">
                <div class="sidenav">
                    <h3>SVG Export Settings</h3>

                    <!-- display settings -->
                    <h4>Display Settings</h4>
                    <!-- header -->
                    <input id="showHeaderCheckbox" type="checkbox" class="checkbox-custom" [(ngModel)]="config.showHeader" (change)="buildSVG()">
                    <label for="showHeaderCheckbox" class="checkbox-custom-label noselect">show header</label>
                    <!-- about -->
                    <input id="showFilterAbout" type="checkbox" class="checkbox-custom" [disabled]="!config.showHeader" [(ngModel)]="config.showAbout" (change)="buildSVG()">
                    <label for="showFilterAbout" class="checkbox-custom-label noselect" [class.disabled]="!config.showHeader">show about</label>
                    <!-- platforms -->
                    <input id="showFilterCheckbox" type="checkbox" class="checkbox-custom" [disabled]="!config.showHeader" [(ngModel)]="config.showFilters" (change)="buildSVG()">
                    <label for="showFilterCheckbox" class="checkbox-custom-label noselect" [class.disabled]="!config.showHeader">show filters</label>
                    <!-- domain -->
                    <input id="showFilterDomain" type="checkbox" class="checkbox-custom" [disabled]="!config.showHeader" [(ngModel)]="config.showDomain" (change)="buildSVG()">
                    <label for="showFilterDomain" class="checkbox-custom-label noselect" [class.disabled]="!config.showHeader">show domain</label>
                    <!-- legend -->
                    <input id="showLegendCheckbox" type="checkbox" [disabled]="!hasLegendItems" class="checkbox-custom" [(ngModel)]="config.showLegend" (change)="buildSVG()">
                    <label for="showLegendCheckbox" class="checkbox-custom-label noselect" [class.disabled]="!hasLegendItems">show legend</label>
                    <!-- gradient -->
                    <input id="showGradientCheckbox" type="checkbox" [disabled]="!hasScores" class="checkbox-custom" [(ngModel)]="config.showGradient" (change)="buildSVG()">
                    <label for="showGradientCheckbox" class="checkbox-custom-label noselect" [class.disabled]="!hasScores">show score gradient</label>

                    <!-- cell border -->
                    <h4>Cell Border</h4>
                    <input class="colorpicker" [(colorPicker)]="config.tableBorderColor"
                        [(ngModel)]="config.tableBorderColor"
                        [style.background]="config.tableBorderColor" 
                        cpPosition="top" 
                        [cpPresetColors]="['#6B7279', '#aaaaaa', '#205B8F', '#B9482D', '#ffffff', '#000000']"
                        (colorPickerChange)="buildSVG()" />

                    <!-- tactic background color -->
                    <h4>Tactic Row Background</h4>
                    <input class="colorpicker" [(colorPicker)]="config.tacticRowBackground"
                        [(ngModel)]="config.tacticRowBackground"
                        [style.background]="config.tacticRowBackground" 
                        cpPosition="top" 
                        [cpPresetColors]="['#ffffff', '#ddd', '#aaaaaa', '#205B8F', '#B9482D']"
                        (colorPickerChange)="buildSVG()" />

                    <!-- font -->
                    <h4>Font</h4>
                    <mat-form-field>
                        <input matInput type="number" placeholder="font size" step="1" [(ngModel)]="config.fontSize" disabled/>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-select placeholder="font" [(ngModel)]="config.font" (selectionChange)="buildSVG()">
                            <mat-option value="serif">serif</mat-option>
                            <mat-option value="sans-serif">sans-serif</mat-option>
                            <mat-option value="monospace">monospace</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                        <!-- unit selection -->
                    <h4>Unit</h4>
                    <mat-button-toggle-group [(ngModel)]="config.unit" aria-label="SVG unit" (change)="buildSVG()">
                        <ng-container *ngFor="let unit of ['in', 'cm', 'px']">
                            <mat-button-toggle [value]="unit" aria-label="inches">
                                <svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                    <text x="4px" y="50%" dominant-baseline="middle" style="font-size: 14px; font-weight: bold; font-family:monospace">{{unit}}</text>
                                </svg>
                            </mat-button-toggle>
                        </ng-container>
                    </mat-button-toggle-group>

                    <!-- image size -->
                    <h4>Image Size</h4>
                    <mat-form-field>
                        <input matInput type="number" placeholder="width" step="0.1" [(ngModel)]="config.width" (input)="buildSVG()"/>
                        <span matSuffix>{{config.unit}}</span>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput type="number" placeholder="height" step="0.1" [(ngModel)]="config.height" (input)="buildSVG()" />
                        <span matSuffix>{{config.unit}}</span>
                    </mat-form-field>
                </div>
            </mat-drawer>

            <mat-drawer-content class="svg-content">
                <!-- IE incompatibility warning -->
                <div *ngIf="isIE" class="iewarning">
                    <span>
                        WARNING: this interface is not fully compatible with your browser. For best results please switch to Edge, Chrome, or Firefox.
                    </span>
                </div>
                <!-- SVG -->
                <div class="svg-container" [id]="'svgInsert' + viewModel.uid" [ngClass]="{'fit-content': sidebar.opened}">
                    <!-- spinner will be replaced with SVG element after build -->
                    <div class="spinner">
                        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
                    </div>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>