<div class="technique-cell" [ngStyle]="getTechniqueBackground()" [ngClass]="getClass()">
    <div (click)="onClick()" (mouseenter)="highlight()" (mouseleave)="unhighlight()">
        <span [style.border-color]="configService.comment_color" [style.color]="getTechniqueTextColor()">
            <b>{{tactic.name}}</b>
            <div class="break"></div>
            {{technique.attackID}}
            <div class="break"></div>
            {{technique.name}}
        </span>
    </div>
    <!-- <app-tooltip *ngIf="showTooltip"  [technique]="technique" [tactic]="tactic" [viewModel]="viewModel"></app-tooltip> -->
</div>