<div class="technique-cell" [ngStyle]="getTechniqueBackground()" [ngClass]="getClass()">
    <div (click)="onClick()" (mouseenter)="highlight()" (mouseleave)="unhighlight()">
        <span [style.border-color]="configService.comment_color" [style.color]="getTechniqueTextColor()">
            <div class="section">
                <b>{{tactic.name}}</b>
            </div>
            <div class="section">
                {{technique.attackID}}
            </div>
            <div class="section">
                {{technique.name}}
            </div>
        </span>
    </div>
</div>