antlr4-python3-runtime==4.8
certifi==2020.4.5.1
chardet==3.0.4
idna==2.9
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
simplejson==3.17.0
six==1.14.0
stix2==1.4.0
stix2-patterns==1.3.0
urllib3==1.25.8
