.mat-mdc-dialog {
    text-align: center;
    /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
    mat-dialog-actions {
        display: inline-block;
    }
}
