@import "../cell-popover.scss";
@import "../../../../colors.scss";
.contextmenu {

    .cover {
        z-index: 100;
        // background: red;
        // opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        cursor: default;
    }
    .menu {
        cursor: default;
        @include cell-popover(0.85);
        @include adaptive-color("background", rgba(80, 80, 80, 0.85), rgba(color(cell-highlight-dark-color), 0.85));
        .contextMenu-section {
            &:not(:first-child) {
                border-top: 1px solid white;
                margin-top: 2px;
                padding-top: 2px;
            }
            div:not(.link-container) {padding: 3px;}
            .divider {
                border-top: 1px solid white;
                margin-top: 2px;
                padding: 2px 0 0 0 !important;
            }
            .contextMenu-button {
                cursor: pointer;
                &:hover {
                    @include adaptive-color("background", color(cell-highlight-color), darken(color(cell-highlight-dark-color), 10%));
                }
            }
        }
    }
}
